@media (min-width: toEm($introContainer + 30*3 + 1, 16)) {
    .start{
        padding-top: toRem(30);
    }
}
@media (max-width: toEm($introContainer + 30*3 + 1, 16)) and (min-width: toEm($introContainer + 31, 16)) {
    .start{
        padding-top: calc((100vw - toRem($introContainer + 30)) / 2);
    }
}

.intro-start{
    @media (min-width: toEm($introContainer + 31, 16)) {
        .container_intro{
            border-radius: toRem(24);
            &::after{
                border-radius: toRem(24);
            }
        }
    }
    .container_intro{
        position: relative;
        z-index: 1;

        &::after{
            background: linear-gradient(0deg, rgba(0, 0, 0, 0),rgba(0, 0, 0, 0.6) 100%);

            content: "";
            position: absolute;
            left: 0;
            top: 0;

            width: 100%;
            height: 100%;
        }

        padding-top: toRem(96 + 54);
        padding-bottom: toRem(247);
    }
    @media (max-width: toEm($container + 31, 16)) {
        .container_intro{
            padding-top: toRem(96 + 44);
            padding-bottom: toRem(201);
        }
    }
    @media (max-width: toEm(992, 16)) {
        .container_intro{
            padding-top: toRem(86 + 32);
            padding-bottom: toRem(120);
        }
    }
    @media (max-width: toEm(768, 16)) {
        .container_intro{
            padding-top: toRem(76 + 24);
            padding-bottom: toRem(100);
        }
    }
    @media (max-width: toEm(480, 16)) {
        .container_intro{
            padding-top: toRem(66 + 16);
            padding-bottom: toRem(80);
        }
    }
    @media (max-width: toEm(320, 16)) {
        .container_intro{
            padding-top: toRem(60 + 10);
            padding-bottom: toRem(80);
        }
    }

    .container_header{
        text-align: center;
    }

    &__supheading, &__heading, &__subheading{
        position: relative;
        z-index: 2;
    }

    @media (min-width: toEm(993, 16)) {
        &__supheading{
            margin-bottom: toRem(4);
        }
    }
    &__supheading{
        color: $white;
        font-family: "TradeGothic";
        font-size: toRem(45);
        font-weight: 700;
        line-height: math.div(57, 45);
    }
    @media (max-width: toEm(992, 16)) {
        &__supheading{
            font-size: toRem(36);
        }
    }
    @media (max-width: toEm(768, 16)) {
        &__supheading{
            font-size: toRem(27);
        }
    }
    @media (max-width: toEm(480, 16)) {
        &__supheading{
            font-size: toRem(20);
        }
    }

    @media (min-width: toEm(769, 16)) {
        &__heading{
            margin-bottom: toRem(16);
        }
        @media (max-width: toEm(992, 16)) {
            &__heading{
                margin-bottom: toRem(8);
            }
        }
    }
    &__heading{
        color: $white;
        font-family: "TradeGothic";
        text-transform: uppercase;
        font-size: toRem(80);
        font-weight: 700;
        line-height: math.div(101, 80);
    }
    @media (max-width: toEm(992, 16)) {
        &__heading{
            font-size: toRem(64);
        }
    }
    @media (max-width: toEm(768, 16)) {
        &__heading{
            font-size: toRem(48);
        }
    }
    @media (max-width: toEm(480, 16)) {
        &__heading{
            font-size: toRem(36);
        }
    }

    &__subheading{
        color: $white;
        font-family: Montserrat;
        font-size: toRem(20);
        font-weight: 600;
        line-height: math.div(24, 20);
    }
    @media (max-width: toEm(768, 16)) {
        &__subheading{
            font-size: toRem(18);
        }
    }
    @media (max-width: toEm(480, 16)) {
        &__subheading{
            font-size: toRem(14.5);
        }
    }

    &__options{
        position: relative;
        z-index: 2;
        margin-top: toRem(-113);
    }
    @media (max-width: toEm($container + 31, 16)) {
        &__options{
            margin-top: toPercent(-113, $container + 31);
        }
    }
    @media (max-width: toEm(768, 16)) {
        &__options{
            margin-top: toRem(-70);
        }
    }
}