.options{
    position: relative;
    z-index: 1;
    margin-top: toRem(-93);
    @media (max-width: toEm(992, 16)) {
        margin-top: toRem(-78);
    }
    @media (max-width: toEm(768, 16)) {
        margin-top: toRem(-58);
    }
    @media (max-width: toEm(480, 16)) {
        margin-top: toRem(-35);
    }

    &__inner{
        background-color: #fff;
        box-shadow: 0px 4px 16px 0px rgba(141, 211, 187, 0.15);
        border-radius: 1rem;
        padding: 1rem 2rem 2rem;
    }
    @media (max-width: toEm(768, 16)) {
        &__inner{
            padding: 1rem;
        }
    }

    @media (min-width: toEm(993, 16)) {
        &__header{
            min-height: toRem(63);
        }
    }
    &__header{
        display: flex;
        margin-bottom: toRem(25);
    }
    @media (max-width: toEm(480, 16)) {
        &__header{
            margin-bottom: 1rem;
        }
    }

    @media (min-width: toEm(481, 16)) {
        &__inputs{
            margin: toRem(-6) toRem(-12);
        }
        @media (max-width: toEm(992, 16)) {
            &__inputs{
                margin: toRem(-6);
            }
        }
    }
    &__inputs{
        display: flex;
        flex-wrap: wrap;
    }

    @media (min-width: toEm(481, 16)) {
        &__footer{
            display: flex;
            justify-content: flex-end;
        }
    }
    &__footer{
        margin-top: 2rem;
    }
    @media (max-width: toEm(992, 16)) {
        &__footer{
            margin-top: toRem(25);
        }
    }
    @media (max-width: toEm(480, 16)) {
        &__footer{
            margin-top: 1rem;
        }
    }
}
.header-options{
    &__list{
        display: flex;
    }

    &__link button,
    &__link:not(:last-child) button::after{
        min-height: toRem(48);
    }
    @media (max-width: toEm(768, 16)) {
        &__link button,
        &__link:not(:last-child) button::after{
            min-height: toRem(38);
        }
    }
    @media (max-width: toEm(480, 16)) {
        &__link button,
        &__link:not(:last-child) button::after{
            min-height: toRem(30);
        }
    }

    &__link._active{
        position: relative;
        z-index: 1;
        &::after{
            background-color: #8DD3BB;

            content: "";
            height: 0.25rem;
            width: calc(100% - (toRem(32) * 2 + toRem(1)));

            position: absolute;
            z-index: 1;
            left: 0;
            bottom: 0;
        }
    }
    @media (max-width: toEm(768, 16)) {
        &__link._active::after{
            height: toRem(2);
            width: calc(100% - (toRem(24) * 2 + toRem(1)));
        }
    }
    @media (max-width: toEm(480, 16)) {
        &__link._active::after{
            width: calc(100% - (toRem(12) * 2 + toRem(1)));
        }
    }

    &__link button{
        display: flex;
        align-items: center;
        &::before{
            color: rgb(17, 34, 17);
            font-size: toRem(21);
        }
        span{
            color: rgb(17, 34, 17);
            font-family: Montserrat;
            font-size: 1rem;
            font-weight: 600;
            line-height: math.div(20, 16);
    
            margin-left: toRem(9);
        }
    }
    @media (max-width: toEm(768, 16)) {
        &__link button{
            &::before{
                font-size: toRem(18);
            }
            span{
                font-size: toRem(14);
                margin-left: toRem(6);
            }
        }
    }

    &__link:not(:last-child) button::after{
        background-color: rgb(215, 226, 238);

        content: "";
        width: toRem(1);

        margin: 0 2rem;
    }
    @media (max-width: toEm(768, 16)) {
        &__link:not(:last-child) button::after{
            margin: 0 toRem(24);
        }
    }
    @media (max-width: toEm(480, 16)) {
        &__link:not(:last-child) button::after{
            margin: 0 toRem(12);
        }
    }
}
.inputs-options{
    @media (min-width: toEm(481, 16)) {
        &__item{
            padding: toRem(6) toRem(12);
            &.input{
                flex: 0 1 toRem(320 + 24);
            }
            &.select{
                flex: 0 1 toRem(136 + 24);
            }
        }
        @media (max-width: toEm(992, 16)) {
            &__item{
                padding: toRem(6);
                &.input{
                    flex: 0 1 toRem(250 + 24);
                }
                &.select{
                    flex: 0 1 toRem(136 + 24);
                }
            }
        }
        @media (max-width: toEm(768, 16)) {
            &__item.input{
                flex: 0 1 toRem(200 + 12);
            }
            &__item.select{
                flex: 0 1 toRem(120 + 12);
            }
        }
    }
    &__item{
        min-height: toRem(65 + 12);
    }
    @media (max-width: toEm(768, 16)) {
        &__item{
            min-height: toRem(55 + 12);
        }
    }
    @media (max-width: toEm(480, 16)) {
        &__item{
            min-height: toRem(55);
            flex: 0 1 100%;
            &:not(:last-child){
                margin-bottom: toRem(6);
            }
        }
    }
}
.item-inputs-options{
    &__inner{
        height: 100%;
        position: relative;
        z-index: 1;
    }

    &__title{
        display: inline;
        background-color: #fff;

        position: relative;
        z-index: 2;

        color: rgb(17, 34, 17);
        font-family: Montserrat;
        font-size: toRem(14);
        font-weight: 400;
        line-height: math.div(17, 14);

        margin-left: 1rem;
        padding: 0 toRem(4);
    }
    @media (max-width: toEm(768, 16)) {
        &__title{
            font-size: toRem(12);
            margin-left: 0.5rem;
        }
    }

    &__main{
        @extend %input;
    }    

    &.with-icon &__inner::before{
        color: #000;

        position: absolute;
        z-index: 1;
        right: 1rem;
        bottom: calc((100% - toRem(9)) / 2);
        transform: translateY(50%);
    }
}
.select-options{
    &__opener{
        text-align: left;
        @extend %input;
    }
    
    &__list{
        position: absolute;
        z-index: 3;
        left: 50%;
        bottom: toRem(-5);
        transform: translate(-50%, 100%);

        width: 110%;
        text-align: center;

        overflow-y: hidden;
        height: 0;
        transition: height 0.3s cubic-bezier(0.34, 0.03, 0, 0.99);
    }
}
.list-select-options{
    &__inner{
        background-color: #8DD3BB;
        border-radius: toRem(8);
        padding: toRem(5);
    }

    &__link button{
        width: 100%;

        color: #fff;
        font-family: Montserrat;
        font-size: toRem(18);
        line-height: 1em;
        font-weight: 600;

        padding: toRem(10) 0;
    }

    &__link button[disabled]{
        color: #8DD3BB;
        background: #fff;
        border-radius: 0.5rem;
    }
}
.footer-options{
    @media (min-width: toEm(481, 16)) {
        &__item{
            align-items: center;
            &:not(:last-child){
                margin-right: toRem(24);
            }
        }
    }
    &__item{
        color: rgb(17, 34, 17);
        font-family: Montserrat;
        font-size: toRem(14);
        font-weight: 500;
        line-height: math.div(17, 14);

        display: inline-flex;

        padding: toRem(15) 0;
    }
    &__submit{
        padding: toRem(15) 1rem;
        border-radius: toRem(4);
        background-color: #8DD3BB;
    }
    @media (max-width: toEm(480, 16)) {
        &__item{
            font-size: toRem(12);

            display: flex;
            justify-content: center;
            width: 100%;

            &:not(:last-child){
                margin-bottom: toRem(8);
            }
        }
    }

    &__item::before{
        margin-right: toRem(5);
    }
}