.footer{
    &.gray{
        background-color: $lightGrayColor;
    }

    &__main{
        background-color: $mintColor;

        margin-top: toRem(-150);
        padding-top: toRem(214);
        padding-bottom: toRem(64);
    }
    @media (max-width: toEm(768, 16)) {
        &__main{
            margin-top: toRem(-136);
            padding-top: toRem(180);
            padding-bottom: toRem(44);
        }
    }
    @media (max-width: toEm(480, 16)) {
        &__main{
            margin-top: toRem(-75);
            padding-top: toRem(100);
            padding-bottom: toRem(25);
        }
    }
}
.post-footer{
    &__inner{
        border-radius: toRem(20);
        box-shadow: 0px 4px 16px 0px rgba(17, 34, 17, 0.05);
        background: $lightMintColor;
        padding: toRem(24);

        position: relative;
    }
    @media (max-width: toEm(768, 16)) {
        &__inner{
            padding: 1rem;
        }
    }
    @media (max-width: toEm(480, 16)) {
        &__inner{
            padding: toRem(10);
        }
    }

    @media (min-width: toEm(993, 16)) {
        &__image{
            position: absolute;
            z-index: 1;
            right: toPercent(24, $container);
            bottom: 0;
    
            width: toPercent(400, $container);
            padding-bottom: toPercent(258, $container);
        }
    }
    @media (max-width: toEm(992, 16)) {
        &__image{
            display: none;
        }
    }

    @media (min-width: toEm(993, 16)) {
        &__main{
            max-width: toRem(593);
            position: relative;
            z-index: 2;
        }
    }

    @media (min-width: toEm(993, 16)) {
        &__heading{
            max-width: toRem(364);
        }
    }
    &__heading{
        color: $darkGreenColor;
        font-family: "TradeGothic";
        font-size: toRem(44);
        font-weight: 700;
        line-height: math.div(54, 44);

        &:not(:last-child){
            margin-bottom: toRem(25);
        }
    }
    @media (max-width: toEm(992, 16)) {
        &__heading{
            font-size: toRem(36);
            &:not(:last-child){
                margin-bottom: 1rem;
            }
        }
    }
    @media (max-width: toEm(768, 16)) {
        &__heading{
            font-size: toRem(30);
            &:not(:last-child){
                margin-bottom: toRem(8);
            }
        }
    }
    @media (max-width: toEm(480, 16)) {
        &__heading{
            font-size: toRem(24);
        }
    }

    &__subheading{
        color: $darkGreenColor;
        font-family: "TradeGothic";
        font-size: toRem(20);
        font-weight: 700;
        line-height: math.div(25, 20);

        &:not(:last-child){
            margin-bottom: 0.5rem;
        }
    }
    @media (max-width: toEm(992, 16)) {
        &__subheading{
            font-size: toRem(18);
            &:not(:last-child){
                margin-bottom: 0.25rem;
            }
        }
    }
    @media (max-width: toEm(768, 16)) {
        &__subheading{
            font-size: 1rem;
        }
    }

    &__info{
        color: $darkGreenColor;
        font-family: Montserrat;
        font-size: 1rem;
        font-weight: 500;
        line-height: math.div(19, 16);

        &:not(:last-child){
            margin-bottom: 1rem;
        }
    }
    @media (max-width: toEm(992, 16)) {
        &__info:not(:last-child){
            margin-bottom: 0.75rem;
        }
    }
    @media (max-width: toEm(768, 16)) {
        &__info{
            font-size: toRem(14);
        }
    }

    @media (min-width: toEm(769, 16)) {
        &__row{
            display: grid;
            grid-template-columns: toRem(473) auto;
            column-gap: 1rem;
    
            min-height: toRem(56);
        }
        @media (max-width: toEm(992, 16)) {
            &__row{
                grid-template-columns: toPercent(706, 914) auto;
            }
        }
    }

    &__input{
        color: $darkPurpleColor;
        font-family: Montserrat;
        font-size: 1rem;
        font-weight: 400;
        line-height: math.div(20, 16);
        &::placeholder{
            color: $darkPurpleColor;
        }
    
        background-color: $whiteColor;
        border: toRem(3) solid $whiteColor;
        border-radius: 0.25rem;
        padding-left: toRem(13);

        transition: border-color 0.3s cubic-bezier(0.34, 0.03, 0, 0.99);
    }
    &__input:focus{
        outline: none;
        border: toRem(3) solid $darkGreenColor;
    }
    @media (any-hover: hover) {
        &__input:hover{
            border: toRem(3) solid $darkGreenColor;
        }
    }
    @media (max-width: toEm(768, 16)) {
        &__input{
            width: 100%;
            height: toRem(50);
            &:not(:last-child){
                margin-bottom: toRem(10);
            }
        }
    }
    @media (max-width: toEm(480, 16)) {
        &__input{
            height: toRem(40);
        }
    }

    &__button{
        color: $whiteColor;
        font-family: Montserrat;
        font-size: toRem(14);
        font-weight: 600;
        line-height: math.div(17, 14);

        background-color: $darkGreenColor;
        border: toRem(3) solid transparent;
        border-radius: 0.25rem;
        padding: 0.5rem toRem(16);

        position: relative;
        overflow: hidden;

        transition: box-shadow 0.3s cubic-bezier(0.34, 0.03, 0, 0.99);
        span{
            position: absolute;
            left: 50%;
            top: calc(50% - toRem(8.5));
            transform: translateX(-50%);

            transition: top 0.3s cubic-bezier(0.34, 0.03, 0, 0.99) 0.3s;
        }
        &::after{
            content: attr(data-value);
            color: $whiteColor;
            font-family: Montserrat;
            font-size: toRem(14);
            font-weight: 600;
            line-height: math.div(17, 14);

            position: absolute;
            left: 50%;
            bottom: toRem(-17);
            transform: translateX(-50%);

            transition: bottom 0.3s cubic-bezier(0.34, 0.03, 0, 0.99);
        }
    }
    &__button:focus{
        box-shadow: 0 0 15px $darkGreenColor;
        outline: none;
        span{
            top: toRem(-17);
            transition: top 0.3s cubic-bezier(0.34, 0.03, 0, 0.99);
        }
        &::after{
            bottom: calc(50% - toRem(8.5));
            transition: bottom 0.3s cubic-bezier(0.34, 0.03, 0, 0.99) 0.3s;
        }
    }
    @media (any-hover: hover) {
        &__button:hover{
            span{
                top: toRem(-17);
                transition: top 0.3s cubic-bezier(0.34, 0.03, 0, 0.99);
            }
            &::after{
                bottom: calc(50% - toRem(8.5));
                transition: bottom 0.3s cubic-bezier(0.34, 0.03, 0, 0.99) 0.3s;
            }
        }
    }
    @media (max-width: toEm(768, 16)) {
        &__button{
            height: toRem(50);
            width: 100%;
        }
    }
    @media (max-width: toEm(480, 16)) {
        &__button{
            height: toRem(40);
        }
    }
}
.main-footer{
    @media (min-width: toEm(769, 16)) {
        .container{
            display: flex;
        }
    }

    @media (min-width: toEm(769, 16)) {
        &__info{
            flex: 0 1 toRem(230);
            &:not(:last-child){
                margin-right: toRem(30);
            }
        }
    }
    @media (max-width: toEm(768, 16)) {
        &__info:not(:last-child){
            margin-bottom: toRem(20);
        }
    }
    @media (max-width: toEm(480, 16)) {
        &__info:not(:last-child){
            margin-bottom: 1rem;
        }
    }

    @media (min-width: toEm(481, 16)) {
        @media (min-width: toEm(769, 16)) {
            &__items{
                flex: 0 1 toRem(972);
            }
        }
        &__items{
            display: grid;
            gap: 1rem toRem(24);
            grid-template-columns: repeat(5, 1fr);
        }
        @media (max-width: toEm(992, 16)) {
            &__items{
                grid-template-columns: repeat(4, 1fr);
            }
        }
        @media (max-width: toEm(768, 16)) {
            &__items{
                gap: 1rem;
                grid-template-columns: repeat(3, 1fr);
            }
        }
    }
    @media (max-width: toEm(480, 16)) {
        &__item:not(:last-child){
            margin-bottom: toRem(10);
        }
    }
}
.info-main-footer{
    @media (max-width: toEm(768, 16)) {
        &__image{
            display: flex;
            justify-content: center;
        }
    }

    &__socials{
        display: flex;
        flex-wrap: wrap;
        margin: toRem(-2.5) toRem(-6.5);
        &:not(:first-child){
            margin-top: toRem(24);
        }
    }
    @media (max-width: toEm(768, 16)) {
        &__socials{
            justify-content: center;
            &:not(:first-child){
                margin-top: toRem(10);
            }
        }
    }

    &__social{
        color: $darkGreenColor;
        font-size: toRem(20);
        padding: toRem(2.5) toRem(6.5);

        transition: filter 0.3s cubic-bezier(0.34, 0.03, 0, 0.99);
    }
    &__social:focus{
        outline: none;
        filter: drop-shadow(0 0 5px $darkGreenColor);
    }
    @media (any-hover: hover) {
        &__social:hover{
            filter: drop-shadow(0 0 5px $darkGreenColor);
        }
    }
}
.item-main-footer{
    &__title{
        text-align: left;
        width: 100%;

        color: $darkGreenColor;
        font-family: "TradeGothic";
        font-size: 1rem;
        font-weight: 700;
        line-height: math.div(20, 16);

        transition: text-shadow 0.3s cubic-bezier(0.34, 0.03, 0, 0.99);
    }
    &__title:focus{
        outline: none;
        text-shadow: 0 0 7px $darkGreenColor;
    }
    @media (max-width: toEm(768, 16)) {
        &__title, &__link{
            text-align: center;
        }
    }
    @media (max-width: toEm(480, 16)) {
        &__title{
            border-radius: toRem(8);
            background-color: $whiteColor;
            padding: toRem(12);
            font-size: toRem(20);
        }
    }

    @media (min-width: toEm(481, 16)) {
        &__list:not(:first-child){
            margin-top: 1rem;
        }
        @media (max-width: toEm(992, 16)) {
            &__list:not(:first-child){
                margin-top: toRem(10);
            }
        }
    }
    @media (max-width: toEm(480, 16)) {
        &__list{
            overflow: hidden;
            margin-top: 0;
            height: 0;
            
            transition: height 0.3s linear,
            margin-top 0s linear 0.3s;
        }
        &._active &__list{
            margin-top: toRem(6);
            transition: height 0.3s linear,
            margin-top 0s linear;
        }
    }

    &__link{
        color: $darkGreenColor;
        font-family: Montserrat;
        font-size: toRem(14);
        font-weight: 500;
        line-height: math.div(18, 14);
        a{
            transition: text-shadow 0.3s cubic-bezier(0.34, 0.03, 0, 0.99);
        }
    }
    &__link a:focus{
        outline: none;
        text-shadow: 0 0 5px $darkGreenColor;
    }
    @media (any-hover: hover) {
        &__link a:hover{
            text-shadow: 0 0 5px $darkGreenColor;
        }
    }
    @media (max-width: toEm(480, 16)) {
        &__link{
            font-size: 1rem;
        }
    }
    &__link a{
        padding-top: toRem(6);
        padding-bottom: toRem(6);
    }
    @media (max-width: toEm(768, 16)) {
        &__link a{
            padding-top: toRem(4);
            padding-bottom: toRem(4);
        }
    }
    &__link:first-child a{
        padding-top: 0;
    }
    &__link:last-child a{
        padding-bottom: 0;
    }
}