.header{
    @media (min-width: toEm($headerContainer + 1, 16)) {
        &._start:not(._scroll){
            padding-top: toRem(30);
        }
    }
    position: fixed;
    z-index: 4;
    left: 0;
    top: 0;

    width: 100%;
    transition: padding-top 0.3s cubic-bezier(0.34, 0.03, 0, 0.99),
    background-color 0.3s cubic-bezier(0.34, 0.03, 0, 0.99),
    box-shadow 0.3s cubic-bezier(0.34, 0.03, 0, 0.99);

    &._black-white{
        background-color: #fff;
    }
    &._start._scroll{
        background-color: $mintColor;
    }
    &._scroll{
        box-shadow: 0 0 25px #333;
    }

    @media (max-width: toEm(768, 16)) {
        &::after{
            background-color: $darkGreenColor;
            content: "";

            position: absolute;
            z-index: 5;
            right: -100%;
            top: 0;
            width: 100%;
            height: 100%;

            transition: right 0.3s cubic-bezier(0.34, 0.03, 0, 0.99);
        }
        &._active::after{
            right: 0;
        }
    }

    .container{
        max-width: toRem($headerContainer);
    
        display: flex;
    
        min-height: toRem(96);
        padding-top: 10px;
        padding-bottom: 10px;
    }
    @media (max-width: toEm(992, 16)) {
        .container{
            min-height: toRem(86);
        }
    }
    @media (max-width: toEm(768, 16)) {
        .container{
            min-height: toRem(76);
        }
    }
    @media (max-width: toEm(480, 16)) {
        .container{
            justify-content: space-between;
            min-height: toRem(66);
        }
    }

    @media (min-width: toEm(769, 16)) {
        &__nav{
            flex: 0 1 50%;
        }
    }
    @media (max-width: toEm(768, 16)) {
        &__menu{
            background-color: rgba(141, 211, 187, 0.93);

            position: fixed;
            z-index: 4;
            right: -100%;
            top: 0;
            width: 100%;
            height: 100%;

            overflow-y: auto;
            padding: calc(toRem(76) + toRem(20)) 15px toRem(20);

            transition: right 0.3s cubic-bezier(0.34, 0.03, 0, 0.99);
        }
        &._active &__menu{
            right: 0;
        }
    }
    @media (max-width: toEm(480, 16)) {
        &__menu{
            padding: calc(toRem(66) + toRem(10)) 15px toRem(10);
        }
    }

    &__logo{
        margin: 0 toRem(30);
        transition: filter 0.3s cubic-bezier(0.34, 0.03, 0, 0.99);
        img{
            max-width: 100%;
        }
    }

    &._start &__logo{
        align-self: center;
    }
    &._start._scroll &__logo{
        filter: drop-shadow(0 0 5px $whiteColor);
    }
    &._black-white &__logo{
        display: flex;
        align-items: center;
        justify-content: center;
        margin: -10px toRem(30);

        transition: filter 0.3s cubic-bezier(0.34, 0.03, 0, 0.99);
    }
    &._black-white._active &__logo{
        filter: drop-shadow(0 0 5px $mintColor);
    }

    &__logo:focus{
        outline: none;
    }
    &._black-white &__logo:focus{
        filter: drop-shadow(0 0 10px $mintColor);
    }
    @media (any-hover: hover) {
        &._black-white &__logo:hover{
            filter: drop-shadow(0 0 10px $mintColor);
        }
    }
    @media (max-width: toEm(992, 16)) {
        &__logo{
            margin: toRem(20);
        }
        &._black-white &__logo{
            margin: -10px toRem(20);
        }
    }
    @media (max-width: toEm(768, 16)) {
        &__logo{
            position: relative;
            z-index: 6;
            margin: 0 toRem(20) 0 0;
        }
        &._black-white &__logo{
            margin: -10px toRem(20) -10px 0;
        }
    }

    @media (min-width: toEm(481, 16)) {
        &__buttons{
            display: flex;
            justify-content: flex-end;
        }
        @media (max-width: toEm(768, 16)) {
            &__buttons{
                position: relative;
                z-index: 6;
                flex: 1 1 auto;
            }
        }
    }
    @media (max-width: toEm(480, 16)) {
        &__buttons{
            display: none;
        }
    }

    @media (min-width: toEm(769, 16)) {
        &__burger{
            display: none;
        }
    }
    @media (max-width: toEm(768, 16)) {
        &._start._scroll:not(._active) &__burger span,
        &._start._scroll:not(._active) &__burger::after,
        &._start._scroll:not(._active) &__burger::before{
            background-color: $whiteColor;
        }
        &__burger{
            background-color: transparent;

            position: relative;
            z-index: 6;
            align-self: center;
        
            min-width: toRem(35);
            height: toRem(27);
            transition: filter 0.3s cubic-bezier(0.34, 0.03, 0, 0.99);
            &:focus{
                outline: none;
                filter: drop-shadow(0 0 5px $mintColor);
            }
        }
        @media (min-width: toEm(481, 16)) {
            &__burger{
                margin-left: 1rem;
            }
        }
    }

    &._active .burger{
        span{
            transform: scale(0);
        }
        &::after{
            top: 50%;
            transform: rotate(45deg);
        }
        &::before{
            top: 50%;
            transform: rotate(-45deg);
        }
    }
}
.menu-header{
    @media (min-width: toEm(769, 16)) {
        &__list, &__link a, &__link div{
            height: 100%;
        }
        &__list{
            flex-wrap: wrap;
            margin: 0 -1rem;
        }
        @media (max-width: toEm(992, 16)) {
            &__list{
                margin: 0 -0.5rem;
            }
        }
    }
    //Оставляю display: flex после 768px, чтобы область link`ов - не расширялась  
    &__list{
        display: flex;
    }
    @media (max-width: toEm(768, 16)) {
        &__list{
            flex-direction: column;
            align-items: center;
        }
    }

    @media (min-width: toEm(769, 16)) {
        .header._black-white &__link{
            margin: -10px 0;
        }
        &__link{
            padding: 0 1rem;
        }
        @media (max-width: toEm(992, 16)) {
            &__link{
                padding: 0 0.5rem;
            }
        }
    }

    //Иконка У Link`a
    @media (min-width: toEm(769, 16)) {
        &__link a,
        &__link div{
            display: flex;
            align-items: center;
        }
        &__link a::before,
        &__link div::before{
            margin-right: toRem(5.5);
        }
    }
    &__link a::before,
    &__link div::before{
        color: $whiteColor;
        font-size: toRem(22);
    }
    .header._black-white &__link a::before,
    .header._black-white &__link div::before{
        color: $darkGreenColor;
    }

    //Зелёная Полоса у Активного link`a
    &__link div{
        position: relative;
        &::after{
            pointer-events: none;
            background-color: $mintColor;
            content: "";

            position: absolute;
            z-index: 1;
            right: 50%;
            bottom: 0;
            transform: translateX(50%);

            width: 100%;
            height: toRem(5);

            transition: width 0.3s cubic-bezier(0.34, 0.03, 0, 0.99);
        }
        span{
            position: relative;
            z-index: 2;
        }
    }
    @media (max-width: toEm(768, 16)) {
        &__link div::after{
            background-color: $whiteColor;
            transform: translateX(50%) translateY(100%);
        }
    }

    &__link span{
        color: $whiteColor;
        font-family: Montserrat;
        font-size: toRem(14);
        font-weight: 600;
        line-height: math.div(17, 14);
    }
    .header._black-white &__link span{
        color: $darkGreenColor;
    }

    //Стили при Наведении на Link, при Чёрно-Белом Header`e
    .header._black-white &__link a{
        position: relative;
        &::after{
            pointer-events: none;
            background-color: $mintColor;
            content: "";

            position: absolute;
            z-index: 1;
            right: 50%;
            bottom: 0;
            transform: translateX(50%);

            width: 100%;
            height: toRem(5);

            transition: width 0.3s cubic-bezier(0.34, 0.03, 0, 0.99);
        }
    }
    @media (max-width: toEm(768, 16)) {
        .header._black-white &__link a::after{
            background-color: $whiteColor;
            transform: translateX(50%) translateY(100%);
        }
    }

    .header._black-white &__link a:not(._hovered)::after,
    .header._black-white &__list._hide-active &__link div::after{
        width: 0;
    }

    .header._start &__link a{
        transition: text-shadow 0.3s cubic-bezier(0.34, 0.03, 0, 0.99);
    }

    &__link a:focus{
        outline: none;
    }
    .header._start &__link a:focus{
        text-shadow: 0 0 10px $darkPurpleColor;
    }
    @media (max-width: toEm(768, 16)) {
        .header._start &__link a:focus{
            text-shadow: 0 0 10px $whiteColor;
        }
    }
    @media (any-hover: hover) {
        .header._start &__link a:hover{
            text-shadow: 0 0 10px $darkPurpleColor;
        }
        @media (max-width: toEm(768, 16)) {
            .header._start &__link a:hover{
                text-shadow: 0 0 10px $whiteColor;
            }
        }
    }

    //Стили для Текста и Иконки Link`a
    @media (max-width: toEm(768, 16)) {
        &__link{
            text-align: center;
            &:not(:last-child){
                margin-bottom: 1rem;
            }
        }

        &__link span{
            display: block;
            font-size: toRem(25);
        }
        &__link a::before,
        &__link div::before{
            font-size: toRem(35);
        }
    }
    @media (max-width: toEm(480, 16)) {
        &__link span{
            font-size: toRem(20);
        }
        &__link a::before,
        &__link div::before{
            font-size: toRem(30);
        }
    }

    @media (min-width: toEm(481, 16)) {
        &__buttons{
            display: none;
        }
    }
    @media (max-width: toEm(480, 16)) {
        &__buttons{
            margin-top: 1rem;
        }
        &__button{
            color: $mintColor;
            font-family: Montserrat;
            font-size: toRem(20);
            font-weight: 600;
            line-height: math.div(17, 14);

            background-color: $whiteColor;
            padding: toRem(15);

            text-align: center;
            display: block;
            
            transition: box-shadow 0.3s cubic-bezier(0.34, 0.03, 0, 0.99),
            border-radius 0.3s cubic-bezier(0.34, 0.03, 0, 0.99);

            &:not(:last-child){
                margin-bottom: 0.75rem;
            }
            &:focus{
                border-radius: toRem(15);
                box-shadow: 0 0 15px $whiteColor;
                outline: none;
            }
        }

        @media (any-hover: hover) {
            &__button:hover{
                border-radius: toRem(15);
                box-shadow: 0 0 15px $whiteColor;
            }
        }
    }
}
.buttons-header{
    @media (min-width: toEm(481, 16)) {
        &__link{
            text-align: center;
            white-space: nowrap;
            transition: filter 0.3s cubic-bezier(0.34, 0.03, 0, 0.99);
            //Если Стиль Header`a Стартовый или Стиль Header`а Чёрно-Белый, но он Активный - то по-умолчанию цвет текста Белый
            span{
                color: $whiteColor;
                font-family: Montserrat;
                font-size: toRem(14);
                font-weight: 600;
                line-height: math.div(17, 14);
            }
            .header._black-white:not(._active) & > span{
                color: $darkGreenColor;
            }
        }

        &__link:last-child{
            padding: toRem(15) toRem(24);
            align-self: center;
        }
        @media (max-width: toEm(992, 16)) {
            &__link:last-child{
                padding: toRem(15) toRem(20);
            }
        }
        
        &__link:focus{
            outline: none;
            filter: drop-shadow(0 0 7px $blackColor);
        }
        @media (any-hover: hover) {
            &__link:first-child{
                align-self: center;
                padding: toRem(15) toRem(32);
            }
            /*Здесь Отступ Слева-Справа Первого Link`a не равен Второму, а Равен Оступу, который у Этого Link`a Есть,
            когда нету Возможности Навестить*/
            @media (max-width: toEm(992, 16)) {
                &__link:first-child{
                    padding: toRem(15) toRem(16);
                }
            }

            &__link{
                position: relative;
                overflow-x: hidden;

                span{
                    position: relative;
                    z-index: 2;
    
                    transition: color 0.3s cubic-bezier(0.34, 0.03, 0, 0.99);
                }
                //Если Стиль Header`a Начальный или Стиль Header`a Чёрно-Белый, но он активный - то background-color: белый
                &::after{
                    background-color: $whiteColor;
                    border-radius: 0.5rem;
                    content: "";
            
                    position: absolute;
                    z-index: 1;
                    left: 0;
                    top: 0;
            
                    width: 100%;
                    height: 100%;
    
                    transition: left 0.3s cubic-bezier(0.34, 0.03, 0, 0.99);
                }
            }
            .header._black-white:not(._active) &__link{
                span{
                    color: $darkGreenColor;
                }
                &::after{
                    background-color: $darkGreenColor;
                }
            }
    
            &._right-active &__link:last-child span,
            &._left-active &__link:first-child span{
                color: $darkGreenColor;
            }
            .header._black-white:not(._active) &._right-active &__link:last-child span,
            .header._black-white:not(._active) &._left-active &__link:first-child span{
                color: $whiteColor;
            }
        
            &._right-active &__link:first-child::after{
                left: 101%;
            }
            &._left-active &__link:last-child::after{
                left: -101%;
            }
        }
        @media (any-hover: none) {
            &__link:first-child{
                display: flex;
                align-items: center;
                padding-right: toRem(32);
            }
            @media (max-width: toEm(992, 16)) {
                &__link:first-child{
                    padding-right: 1rem;
                }
            }
            //Если Стиль Header`a Начальный или Стиль Header`a Чёрно-Белый, но он активный - то background-color: белый
            &__link:last-child{
                span{
                    color: $darkGreenColor;
                }
                border-radius: 0.5rem;
                background-color: $whiteColor;
            }
            //Если Стиль Header`a Чёрно-Белый, но он НЕ активный - то background-color: чёрный
            .header._black-white:not(._active) &__link:last-child{
                background-color: $darkGreenColor;
                span{
                    color: $whiteColor;
                }
            }
        }
    }
}
.burger{
    &::after,
    &::before,
    span{
        content: "";
        background-color: $mintColor;
        position: absolute;
        top: 0;
        left: 0;

        width: 100%;
        height: toRem(4);

        transition: all 0.3s cubic-bezier(0.42, 0, 0, 0.97);
    }
    span{
        top: toPercent(11, 25);
    }
    &::before{
        top: calc(100% - 0.25rem);
    }
}