%textInput{
    color: $darkPurpleColor;
    font-family: Montserrat;
    font-size: 1rem;
    font-weight: 400;
    line-height: math.div(20, 16);

    @media (max-width: toEm(768, 16)) {
        font-size: toRem(14);
    }
}

%input{
    border-radius: toRem(4);
    border: 1px solid $grayColor;

    position: absolute;
    z-index: 1;
    left: 0;
    bottom: 0;

    width: 100%;
    height: calc(100% - toRem(9));
}

.options{
    position: relative;
    z-index: 1;
    &:not(.independet){
        margin-top: toRem(-93);
        @media (max-width: toEm(992, 16)) {
            margin-top: toRem(-78);
        }
        @media (max-width: toEm(768, 16)) {
            margin-top: toRem(-58);
        }
        @media (max-width: toEm(480, 16)) {
            margin-top: toRem(-35);
        }
    }
    &.independet{
        margin-top: toRem(96);
        padding-top: toRem(48);
        padding-bottom: toRem(32);
    }
    @media (max-width: toEm(992, 16)) {
        &.independet{
            margin-top: toRem(86);
            padding-top: toRem(40);
            padding-bottom: toRem(32);
        }
    }
    @media (max-width: toEm(768, 16)) {
        &.independet{
            margin-top: toRem(76);
            padding-top: toRem(32);
            padding-bottom: toRem(32);
        }
    }
    @media (max-width: toEm(480, 16)) {
        &.independet{
            margin-top: toRem(66);
            padding-top: toRem(24);
            padding-bottom: toRem(24);
        }
    }

    &__inner{
        background-color: $whiteColor;
        box-shadow: 0px 4px 16px 0px rgba(141, 211, 187, 0.15);
        border-radius: 1rem;
        padding: 1rem 2rem 2rem;
    }
    &:not(.header-both) &__inner{
        padding: 2rem;
    }
    @media (max-width: toEm(768, 16)) {
        &:not(.header-both) &__inner{
            padding: 1rem;
        }
    }

    @media (min-width: toEm(993, 16)) {
        &.header-both &__header{
            min-height: toRem(63);
        }
    }
    &__header{
        display: flex;
        margin-bottom: toRem(25);
    }
    &:not(.header-both) &__header{
        color: $darkGreenColor;
        font-family: Montserrat;
        font-size: toRem(20);
        font-weight: 600;
        line-height: math.div(24, 20);
    }
    @media (max-width: toEm(480, 16)) {
        &__header{
            margin-bottom: 1rem;
        }
    }

    @media (min-width: toEm(481, 16)) {
        &__inputs{
            margin: toRem(-6) toRem(-12);
        }
        @media (max-width: toEm(992, 16)) {
            &__inputs{
                margin: toRem(-6);
            }
        }
    }
    &__inputs{
        display: flex;
        flex-wrap: wrap;
    }

    @media (min-width: toEm(481, 16)) {
        &__footer{
            display: flex;
            justify-content: flex-end;
        }
    }
    &__footer{
        margin-top: 2rem;
    }
    @media (max-width: toEm(992, 16)) {
        &__footer{
            margin-top: toRem(25);
        }
    }
    @media (max-width: toEm(480, 16)) {
        &__footer{
            margin-top: 1rem;
        }
    }
}
.header-options{
    &__list{
        display: flex;
    }

    &__link{
        position: relative;
        z-index: 1;
        &:not(:last-child){
            display: flex;
            align-items: flex-start;
            &::after{
                background-color: rgb(215, 226, 238);

                content: "";
                width: toRem(1);
                min-height: toRem(48);
        
                margin: 0 2rem;
            }
        }
    }

    @media (max-width: toEm(768, 16)) {
        &__link:not(:last-child)::after{
            min-height: toRem(38);
            margin: 0 toRem(24);
        }
    }
    @media (max-width: toEm(480, 16)) {
        &__link:not(:last-child)::after{
            min-height: toRem(30);
            margin: 0 toRem(12);
        }
    }

    @media (min-width: toEm(769, 16)) {
        &__link button,
        &__link div{
            padding-bottom: toRem(15);
        }
    }

    &__link button:focus{
        outline: none;
    }

    &__link button,
    &__link div{
        display: flex;
        align-items: center;
        color: $darkGreenColor;

        height: 100%;
        &::before{
            font-size: toRem(21);
        }
        span{
            font-family: Montserrat;
            font-size: 1rem;
            font-weight: 600;
            line-height: math.div(20, 16);
    
            margin-left: toRem(9);
        }

        position: relative;
        z-index: 1;
        &::after{
            background-color: $mintColor;

            content: "";
            width: 0;
            height: 0.25rem;

            position: absolute;
            z-index: 1;
            left: 50%;
            bottom: 0;
            transform: translateX(-50%);

            transition: width 0.3s cubic-bezier(0.34, 0.03, 0, 0.99);
        }
    }

    &__list:not(._hide-active) &__link div._active::after,
    &__link button._hover::after{
        width: 100%;
    }
    @media (max-width: toEm(768, 16)) {
        &__link button,
        &__link div{
            &::before{
                font-size: toRem(18);
            }
            span{
                font-size: toRem(14);
                margin-left: toRem(6);
            }

            &::after{
                height: toRem(2);
            }
        }
    }
}
.inputs-options{
    @media (min-width: toEm(481, 16)) {
        &__item{
            padding: toRem(6) toRem(12);
            &.input:not(.smaller):not(.bigger){
                flex: 0 0 toRem(320 + 24);
            }
            &.select:not(.smaller):not(.bigger){
                flex: 0 0 toRem(136 + 24);
            }
            &.smaller{
                flex: 0 0 toRem(250 + 24);
            }
            &.bigger{
                flex: 0 0 toRem(344 + 24);
            }
            .options.independet &.input{
                flex: 0 0 toRem(295 + 24);
            }
            .options.independet &.select{
                flex: 0 0 toRem(138 + 24);
            }
            .options.independet &.smaller{
                flex: 0 0 toRem(240 + 24);
            }
        }
        @media (max-width: toEm(992, 16)) {
            &__item{
                padding: toRem(6);
                &.input:not(.smaller):not(.bigger){
                    flex: 0 1 toRem(250 + 12);
                }
                &.select:not(.smaller):not(.bigger){
                    flex: 0 1 toRem(136 + 12);
                }
                &.smaller{
                    flex: 0 0 toRem(200 + 12);
                }
                &.bigger{
                    flex: 0 0 toRem(269 + 12);
                }
            }
        }
        @media (max-width: toEm(768, 16)) {
            &__item.input:not(.smaller):not(.bigger){
                flex: 0 1 toRem(200 + 12);
            }
            &__item.select:not(.smaller):not(.bigger){
                flex: 0 1 toRem(120 + 12);
            }
            &__item.smaller{
                flex: 0 0 toRem(150 + 12);
            }
            &__item.bigger{
                flex: 0 0 toRem(215 + 12);
            }
        }
    }
    &__item{
        min-height: toRem(65 + 12);
    }
    @media (max-width: toEm(768, 16)) {
        &__item{
            min-height: toRem(55 + 12);
        }
    }
    @media (max-width: toEm(480, 16)) {
        &__item{
            min-height: toRem(55);
            flex: 0 1 100%;
            &:not(:last-child){
                margin-bottom: toRem(6);
            }
        }
    }

    @media (min-width: toEm(481, 16)) {
        &__find{
            padding: toRem(6) 0 toRem(6) toRem(12);
        }
        @media (max-width: toEm(992, 6)) {
            &__find{
                padding: toRem(6) 0 toRem(6) toRem(6);
            }
        }
    }
    &__find{
        flex: 0 0 toRem(56 + 12);

        display: flex;
        align-items: flex-end;
        button {
            display: inline-flex;
            align-items: center;
            justify-content: center;

            height: toRem(56);
            width: 100%;
            border-radius: toRem(4);
            background-color: $mintColor;

            font-size: toRem(25);
            color: $darkGreenColor;

            transition: background-color 0.3s cubic-bezier(0.34, 0.03, 0, 0.99),
            color 0.3s cubic-bezier(0.34, 0.03, 0, 0.99);
        }
    }
    &__find button:focus{
        outline: none;
        background-color: $darkGreenColor;
        color: $mintColor;
    }
    @media (any-hover: hover) {
        &__find:hover button{
            outline: none;
            background-color: $darkGreenColor;
            color: $mintColor;
        }
    }
    @media (max-width: toEm(992, 6)) {
        &__find{
            flex: 0 0 toRem(56 + 6);
        }
    }
    @media (max-width: toEm(768, 16)) {
        &__find{
            flex: 0 0 toRem(46 + 6);
            button{
                height: toRem(46);
            }
        }
    }
    @media (max-width: toEm(480, 16)) {
        &__find{
            flex: 1 1 auto;
            margin-top: toRem(9);
        }
    }
}
.item-inputs-options{
    &__inner{
        height: 100%;
        position: relative;
        z-index: 1;
    }

    @media (max-width: toEm(768, 16)) {
        &__title{
            font-size: toRem(12);
            margin: 0 0.5rem 0;
            max-width: calc(100% - 1rem);
        }
    }

    &__input{
        @extend %input;
        @extend %textInput;
        padding: 0 toRem(48) 0 toRem(20);
        outline: none;
    }    
    &.icon-left &__input{
        padding: 0 toRem(20) 0 toRem(48);
    }
    &.icon-left .select-options__opener{
        padding: 0 toRem(48);
    }
    @media (max-width: toEm(992, 16)) {
        &__input{
            padding: 0 toRem(36) 0 toRem(12);
        }  
        &.icon-left &__input{
            padding: 0 toRem(12) 0 toRem(36);
        } 
        &.icon-left .select-options__opener{
            padding: 0 toRem(36);
        }
    }

    &__select{
        @extend %input;
    }
    &__title{
        padding: 0 toRem(4); 
        background-color: $whiteColor;
        display: inline-block;

        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;

        color: $darkGreenColor;
        font-family: Montserrat;
        font-size: toRem(14);
        font-weight: 400;
        line-height: math.div(17, 14);

        margin: 0 1rem 0;
        max-width: calc(100% - 2rem);
        
        position: relative;
        z-index: 1;
        span{
            background-color: transparent;
            position: relative;
            z-index: 2;

            transition: color 0.3s cubic-bezier(0.34, 0.03, 0, 0.99);
        }
        &::after{
            background-color: $grayColor;
            content: "";

            position: absolute;
            z-index: 1;
            width: 0;
            height: 100%;

            left: 0;
            top: 0;

            transition: width 0.3s cubic-bezier(0.34, 0.03, 0, 0.99);
        }
    }
    &._focus &__title,
    &__input:focus + &__title,
    &._active &__title{
        span{
            color: $whiteColor;
        }
        &::after{
            width: 100%;
        }
    }
    @media (any-hover: hover) {
        &__select:hover + &__title,
        &__input:hover + &__title{
            span{
                color: $whiteColor;
            }
            &::after{
                width: 100%;
            }
        }
    }

    &.icon-left.select{
        position: relative;
        z-index: 3;
    }

    &.with-icon &__inner::before,
    &.select &__inner::before,
    &.icon-left.select::before{
        color: $blackColor;

        position: absolute;
        z-index: 1;
        right: 1rem;
        bottom: calc((100% - toRem(9)) / 2);
        transform: translateY(50%);
    }
    &.icon-left:not(.select) &__inner::before{
        left: 1rem;
    }
    &.icon-left.select::before{
        left: toRem(28);
    }
    @media (max-width: toEm(992, 16)) {
        &.icon-left.select::before{
            left: toRem(22);
        }
    }
    @media (max-width: toEm(768, 16)) {
        &.icon-left.select::before{
            left: 1rem;
        }
    }

    &.select &__inner::before{
        transition: transform 0.3s cubic-bezier(0.34, 0.03, 0, 0.99);
    }
    &._active &__inner::before{
        transform: rotate(180deg) translateY(-50%);
    }
}
.select-options{
    &__opener{
        text-align: left;
        @extend %textInput;

        position: absolute;
        z-index: 1;
        left: 0;
        top: 0;

        border: 0;
        width: 100%;
        height: 100%;

        padding: 0 toRem(20);
    }
    &__opener:focus{
        outline: none;
    }
    @media (max-width: toEm(768, 16)) {
        &__opener{
            padding: 0 toRem(12);
        }    
    }
    
    &__list{
        position: absolute;
        z-index: 3;
        left: 50%;
        bottom: toRem(-5);
        transform: translate(-50%, 100%);

        width: 110%;
        text-align: center;

        overflow-y: hidden;
        filter: drop-shadow(0 0 3px $darkGreenColor);
        height: 0;
        transition: height 0.3s cubic-bezier(0.34, 0.03, 0, 0.99);
    }
}
.list-select-options{
    &__inner{
        background-color: $mintColor;
        border-radius: toRem(8);
        padding: toRem(5);
    }

    &__link button,
    &__link span{

        display: inline-block;
        width: 100%;

        color: $whiteColor;
        font-family: Montserrat;
        font-size: toRem(18);
        line-height: 1em;
        font-weight: 600;

        padding: toRem(10);
        border-radius: 0.5rem;

        transition: background-color 0.3s cubic-bezier(0.34, 0.03, 0, 0.99),
        color 0.3s cubic-bezier(0.34, 0.03, 0, 0.99);
    }
    &__link button:focus{
        outline: none;
    }

    &__inner:not(._hide-active) &__link._active span,
    &__link button._hovered{
        color: $mintColor;
        background-color: $whiteColor;
    }
}
.footer-options{
    @media (min-width: toEm(481, 16)) {
        &__item{
            align-items: center;
            &:not(:last-child){
                margin-right: toRem(24);
            }
        }
    }
    &__item{
        border-radius: toRem(4);

        color: $darkGreenColor;
        font-family: Montserrat;
        font-size: toRem(14);
        font-weight: 500;
        line-height: math.div(17, 14);

        display: inline-flex;

        padding: toRem(15) 0;
    }
    @media (max-width: toEm(480, 16)) {
        &__item{
            font-size: toRem(12);

            display: flex;
            justify-content: center;
            width: 100%;

            &:not(:last-child){
                margin-bottom: toRem(8);
            }
        }
    }
    &__item::before{
        margin-right: toRem(5);
    }

    &__promo{
        border: toRem(3) solid transparent;
        transition: border 0.3s cubic-bezier(0.34, 0.03, 0, 0.99);
        &::before{
            transition: transform 0.3s cubic-bezier(0.34, 0.03, 0, 0.99);
        }
    }
    @media (any-hover: hover) {
        &__promo:hover::before{
            transform: rotate(180deg);
        }
    }
    &__promo:focus::before{
        transform: rotate(180deg);
    }
    &__promo:focus{
        outline: none;
        border: toRem(3) solid $darkGreenColor;
    }

    &__submit{
        padding: toRem(15) 1rem;
        background-color: $mintColor;

        position: relative;
        z-index: 1;
        &::after{
            outline: none;
            content: "?";
            border-radius: toRem(4);
            background-color: $darkGreenColor;
            color: $whiteColor;
            font-size: toRem(32);
            
            display: flex;
            align-items: center;
            justify-content: center;
    
            position: absolute;
            z-index: 1;
            left: 0;
            top: 0;
    
            width: 100%;
            height: 100%;
    
            transform: scale(0);
    
            transition: transform 0.3s cubic-bezier(0.34, 0.03, 0, 0.99);
        }
    }

    &__submit:focus::after{
        transform: scale(1);
    }
    @media (any-hover: hover) {
        &__submit:hover::after{
            transform: scale(1);
        }
    }
}