@use "variables.scss";

.footer{
    @media (min-width: variables.toEm(993, 16)) {
        &__newsletter > *{
            max-width: variables.toRem(593);
            position: relative; z-index: 4;
        }
        &__newsletter::after{
            content: ""; background: url("/public/img/footer/post.svg"); 
            background-repeat: no-repeat; background-size: contain;
            position: absolute; z-index: 3;
            right: variables.toRem(24); bottom: 0;
            width: variables.toPercent(400, variables.$container);
            padding-bottom: variables.toPercent(258, variables.$container);
        }
    }
    &__newsletter{
        position: relative; z-index: 2;

        border-radius: variables.toRem(20);
        box-shadow: 0px 4px 16px 0px rgba($color: variables.$darkGreen, $alpha: 0.05);
        background-color: variables.$lightMint;
        padding: variables.toRem(24);
    }
    @media (max-width: variables.toEm(992, 16)) {
        &__newsletter{
            padding: variables.toRem(16);
        }
    }

    &__main{
        position: relative; z-index: 1;
        background-color: variables.$mint;
        margin-top: variables.toRem(-150);
        padding: calc(variables.toRem(150)) + variables.toRem(64) 0 variables.toRem(64);
    }
    @media (max-width: variables.toEm(992, 16)) {
        &__main{
            margin-top: variables.toRem(-100);
            padding: calc(variables.toRem(100)) + variables.toRem(48) 0 variables.toRem(48);
        }
    }
    @media (max-width: variables.toEm(768, 16)) {
        &__main{
            margin-top: variables.toRem(-125);
            padding: calc(variables.toRem(125)) + variables.toRem(32) 0 variables.toRem(32);
        }
    }

    @media (min-width: variables.toEm(769, 16)) {
        &__main .container{
            display: flex;
        }
        &__info{
            margin-right: variables.toRem(30);
        }
    }

    @media (max-width: variables.toEm(768, 16)) {
        &__info{
            text-align: center;
            margin-bottom: variables.toRem(16);
        }
    }
    
    &__logo{
        width: variables.toRem(120); height: variables.toRem(39.15);
    }
    @media (max-width: variables.toEm(768, 16)) {
        &__logo{
            width: variables.toRem(180); height: variables.toRem(58.725);
        }
    }
    @media (max-width: variables.toEm(768, 16)) {
        &__logo{
            width: variables.toRem(150); height: variables.toRem(48.9375);
        }
    }

    &__socials{
        display: flex; flex-wrap: wrap;
        gap: variables.toRem(4) variables.toRem(12);
        margin-top: variables.toRem(24);
    }
    @media (max-width: variables.toEm(992, 16)) {
        &__socials{
            margin-top: variables.toRem(16);
        }
    }
    @media (max-width: variables.toEm(768, 16)) {
        &__socials{
            margin-top: variables.toRem(10);
            justify-content: center;
        }
    }

    &__social a{
        display: flex; align-items: center; justify-content: center;
        width: variables.toRem(20); height: variables.toRem(20);
        position: relative;
        &::after{
            border-radius: variables.toRem(4);
            content: ""; position: absolute; z-index: 1; left: 50%; top: 50%;
            transform: translateX(-50%) translateY(-50%);
            width: variables.toRem(20 + 12 / 2); height: variables.toRem(20 + 12 / 2);
            transition: background-color 0.3s cubic-bezier(0.215, 0.610, 0.355, 1);
        }
        svg{
            position: relative; z-index: 2;
        }
        &::before{
            content: ""; width: calc(100% + variables.toRem(12)); height: 100%;
            position: absolute; left: variables.toRem(-6); top: 0;
            border: variables.toRem(3) solid #fff;
            transform: scale(0);
            transition: transform 0.3s cubic-bezier(0.215, 0.610, 0.355, 1);
        }
        &__link:hover::after, &__link:focus::after{
            transform: scale(1);
        }
    }
    &__social a:hover::after, &__social a:focus::after{
        background-color: #fff;
    }

    @media (min-width: variables.toEm(481, 16)) {
        &__menu{
            flex: 1 1 auto; 
            display: grid; grid-template-columns: repeat(5, minmax(0, variables.toRem(175.2))); 
            justify-content: flex-end; gap: variables.toRem(24);
        }
    }
    @media (max-width: variables.toEm(992, 16)) and (min-width: variables.toEm(481, 16)) {
        &__menu{
            grid-template-columns: repeat(4, 1fr);
        }
    }
    @media (max-width: variables.toEm(768, 16)) and (min-width: variables.toEm(481, 16)) {
        &__menu{
            grid-template-columns: repeat(3, 1fr);
            gap: variables.toRem(16);
        }
    }

    @media (min-width: variables.toEm(481, 16)) {
        &__column{
            display: flex; flex-direction: column;
        }  
    }
    @media (max-width: variables.toEm(768, 16)) {
        &__column{
            text-align: center;
        }
    }
    @media (max-width: variables.toEm(480, 16)) {
        &__column:not(:last-child){
            margin-bottom: variables.toRem(16);
        }
    }
}
.newsletter{
    @media (min-width: variables.toEm(993, 16)) {
        &__heading{
            max-width: variables.toRem(364);
        }
    }
    &__heading{
        color: variables.$darkGreen;
        font-family: "TradeGothic"; font-weight: 700;
        font-size: variables.toRem(44);
        line-height: variables.toEm(54, 44);

        margin-bottom: variables.toRem(25);
    }
    @media (max-width: variables.toEm(992, 16)) {
        &__heading{
            font-size: variables.toRem(36);
            margin-bottom: variables.toRem(16);
        }
    }
    @media (max-width: variables.toEm(480, 16)) {
        &__heading{
            font-size: variables.toRem(28);
            margin-bottom: variables.toRem(10);
        }
    }

    &__supdescription{
        color: variables.$darkGreen;
        font-family: "TradeGothic"; font-weight: 700;
        font-size: variables.toRem(20);
        line-height: variables.toEm(25, 20);
    }
    @media (max-width: variables.toEm(992, 16)) {
        &__supdescription{
            font-size: variables.toRem(18);
        }
    }
    @media (max-width: variables.toEm(480, 16)) {
        &__supdescription{
            font-size: variables.toRem(16);
        }
    }

    &__description{
        color: variables.$darkGreen;
        font-family: Montserrat; font-weight: 500;
        font-size: variables.toRem(16);
        line-height: variables.toEm(20, 16);

        margin-bottom: variables.toRem(16);
    }
    @media (max-width: variables.toEm(992, 16)) {
        &__description{
            margin-bottom: variables.toRem(10);
        }
    }
    @media (max-width: variables.toEm(480, 16)) {
        &__description{
            font-size: variables.toRem(14);
        }
    }

    @media (min-width: variables.toEm(769, 16)) {
        &__row{
            display: flex;
            column-gap: variables.toRem(16);
        }
    }

    @media (min-width: variables.toEm(769, 16)) {
        &__input{
            min-width: variables.toRem(400);
        }
    }
    &__input{
        min-height: variables.toRem(56); padding: 0 variables.toRem(16 - 3);
        flex: 1 1 auto;

        color: variables.$darkPurple;
        &::placeholder{
            color: variables.$darkPurple;
        }
        font-family: Montserrat; font-weight: 400;
        font-size: variables.toRem(16);
        line-height: variables.toEm(19, 16);

        background-color: #fff;
        border-radius: variables.toRem(4);
        border: variables.toRem(3) solid transparent;

        transition: border-color 0.3s cubic-bezier(0.215, 0.610, 0.355, 1);
    }
    &__input:hover, &__input:focus{
        border: variables.toRem(3) solid variables.$darkGreen;
    }
    @media (max-width: variables.toEm(992, 16)) {
        &__input{
            min-height: variables.toRem(52);
        }
    }
    @media (max-width: variables.toEm(768, 16)) {
        &__send, &__input{
            width: 100%;
            min-height: variables.toRem(48);
        }
        &__input{
            margin-bottom: variables.toRem(10);
        }
    }

    &__send{
        color: #fff;
        font-family: Montserrat; font-weight: 600;
        font-size: variables.toRem(14);
        line-height: variables.toEm(18, 14);

        padding: variables.toRem(8) variables.toRem(16);
        border-radius: variables.toRem(4);
        background: variables.$darkGreen;

        transition: text-shadow 0.3s cubic-bezier(0.215, 0.610, 0.355, 1),
        box-shadow 0.3s cubic-bezier(0.215, 0.610, 0.355, 1);
    }
    &__send:hover{
        text-shadow: 0 0 10px #fff;
        box-shadow: inset 0 0 5px #fff;
    }
}
.column-footer{
    @media (min-width: variables.toEm(481, 16)) {
        &__description{
            margin-bottom: variables.toRem(16);
        }
        @media (max-width: variables.toEm(992, 16)) {
            &__description{
                margin-bottom: variables.toRem(10);
            }
        }
    }
    &__description{
        color: variables.$darkGreen;
        font-family: "TradeGothic"; font-weight: 700;
        font-size: variables.toRem(16);
        line-height: variables.toEm(20, 16);

        flex: 1 1 auto;
    }
    @media (max-width: variables.toEm(480, 16)) {
        &__description{
            border-radius: variables.toRem(8);
            background: #fff; width: 100%;
            min-height: variables.toRem(40);
            padding: variables.toRem(8);
        }
    }

    &__list{
        padding-top: variables.toRem(6);
    }
    &__container{
        height: 0; overflow: hidden;
        transition: height 0.3s cubic-bezier(0.215, 0.610, 0.355, 1);
    }

    &__link{
        color: rgba($color: variables.$darkGreen, $alpha: 0.75);
        font-family: Montserrat; font-weight: 500;
        font-size: variables.toRem(14);
        line-height: variables.toEm(18, 14);
    }
    &__link a{
        position: relative;
        &::after{
            content: ""; width: calc(100% + variables.toRem(12)); 
            height: calc(100% + variables.toRem(12));
            position: absolute; left: variables.toRem(-6); top: variables.toRem(-6);
            border: variables.toRem(3) solid rgba($color: variables.$darkGreen, $alpha: 0.75);
            border-radius: variables.toRem(4);
            transform: scale(0); pointer-events: none;
            transition: transform 0.3s cubic-bezier(0.215, 0.610, 0.355, 1);
        }
    }
    &__link a:hover::after, &__link a:focus::after{
        transform: scale(1);
    }
    @media (max-width: variables.toEm(480, 16)) {
        &__link{
            padding: 0 variables.toRem(6);
        }
    }
    &__link:not(:last-child){
        margin-bottom: variables.toRem(12);
    }
    @media (max-width: variables.toEm(992, 16)) {
        &__link:not(:last-child){
            margin-bottom: variables.toRem(8);
        }
    }
    @media (max-width: variables.toEm(480, 16)) {
        &__link:not(:last-child){
            margin-bottom: variables.toRem(6);
        }
    }
    @media (max-width: variables.toEm(480, 16)) {
        &__link{
            font-size: variables.toRem(16);
        }
    }
}