@use "variables.scss";

.header{
    @media (min-width: variables.toEm(1440, 16)) {
        padding-top: 40px
    }
    padding-bottom: 10px;
    position: fixed; z-index: 4; top: 0; left: 0; width: 100%;
    /*Плавное Изменение Верхнее Отступа с 30 до 0*/
    @media (max-width: variables.toEm(1440, 16)) and (min-width: variables.toEm(1381, 16)) {
        padding-top: calc(10px + 30px - (1440px - 100vw) / 2);
    }
    @media (max-width: variables.toEm(1380, 16)) {
        padding-top: 10px;
    }
    @media (max-width: variables.toEm(768, 16)) {
        &::after{
            background-color: variables.$darkGreen; content: "";
            position: absolute; right: -100%; top: 0; z-index: 5;
            width: 100%; height: 100%;
            transition: right 0.3s cubic-bezier(0.215, 0.610, 0.355, 1);
        }
    }
    transition: padding-top 0.3s cubic-bezier(0.215, 0.610, 0.355, 1),
    background-color 0.3s cubic-bezier(0.215, 0.610, 0.355, 1);

    &._scroll{
        padding-top: 10px;
        background-color: variables.$mint;
    }

    .container_header{
        display: flex;
        min-height: variables.toRem(calc(96 - 20));
    }
    /*Плавное Изменение Отступов с 32 до Стандартных 15*/
    @media (max-width: variables.toEm(variables.$containerHeaderPaddings, 16)) and 
    (min-width: variables.toEm(variables.$containerHeader + variables.$containerPadding * 2, 16)) {
        .container_header{
            padding-left: calc(
                variables.toPx(variables.$containerHeaderPadding) - 
                (variables.toRem(variables.$containerHeaderPaddings) - 100vw) / 2
            );
            padding-right: calc(
                variables.toPx(variables.$containerHeaderPadding) - 
                (variables.toRem(variables.$containerHeaderPaddings) - 100vw) / 2
            );
        }
    }
    /*Фиксируем Значение Отступов на Отметке в 15*/
    @media (max-width: variables.toEm(
        variables.$containerHeader + variables.$containerPadding * 2, 16
    )) {
        .container_header{
            padding-left: 15px; padding-right: 15px;
        }
    }
    @media (max-width: variables.toEm(992, 16)) {
        .container_header{
            min-height: variables.toRem(86 - 20);
        }
    }
    @media (max-width: variables.toEm(768, 16)) {
        .container_header{
            min-height: variables.toRem(76 - 20);
        }
    }
    @media (max-width: variables.toEm(480, 16)) {
        .container_header{
            justify-content: space-between;
            min-height: variables.toRem(66 - 20);
        }
    }
    
    @media (max-width: variables.toEm(768, 16)) {
        &__logo, &__authorization, &__burger{
            position: relative; z-index: 6;
        }
    }

    &__logo{
        margin: 0 variables.toRem(32);
    }
    @media (max-width: variables.toEm(992, 16)) {
        &__logo{
            margin: 0 variables.toRem(24);
        }
    }
    @media (max-width: variables.toEm(768, 16)) {
        &__logo{
            margin: 0 variables.toRem(24) 0 0;
        }
    }
    @media (max-width: variables.toEm(480, 16)) {
        &__logo{
            margin: 0 variables.toRem(16) 0 0;
        }
    }
    &__logo{
        align-self: center;
    }
    &__logo svg{
        display: block;
    }
    &._scroll &__logo svg{
        filter: drop-shadow(0 0 5px #fff);
    }

    &__menu, &__authorization{
        flex: 0 0 calc(50% - (variables.toPx(110.35) + variables.toRem(32) * 2) / 2);
    }
    @media (max-width: variables.toEm(992, 16)) {
        &__menu, &__authorization{
            flex: 0 0 calc(50% - (variables.toPx(110.35) + variables.toRem(24) * 2) / 2);
        }
    }

    @media (min-width: variables.toEm(769, 16)) {
        &__menu{
            margin: -10px 0;
        }
    }
    @media (max-width: variables.toEm(768, 16)) {
        &__menu{
            background: rgba(141, 211, 187, 0.9);
            position: fixed; right: -100%; top: 0; z-index: 3;
            width: 100%; height: 100%;
            padding: variables.toRem(76 + 24) 15px variables.toRem(32);
            transition: right 0.3s cubic-bezier(0.215, 0.610, 0.355, 1);
            overflow-y: auto;
        }
        &._active &__menu, &._active::after{
            right: 0;
        }  
    }
    @media (max-width: variables.toEm(480, 16)) {
        &__menu{
            padding: variables.toRem(66 + 16) 15px variables.toRem(24);
        }
    }

    @media (min-width: variables.toEm(481, 16)) {
        &__authorization{
            display: flex;
            align-items: center;
            justify-content: flex-end;
        }
    }
    @media (max-width: variables.toEm(768, 16)) and (min-width: variables.toEm(481, 16)) {
        &__authorization{
            flex: 1 1 auto;
        }
    }
    @media (max-width: variables.toEm(480, 16)) {
        &__authorization{
            display: none;
        }
    }

    &__link{
        font-family: Montserrat; font-weight: 600;
        font-size: variables.toRem(14);
        line-height: variables.toEm(18, 14);
        color: #fff; 
        padding: 0 variables.toRem(24);

        min-height: variables.toRem(48);
        display: flex; align-items: center;

        position: relative;
        overflow: hidden;
        &::before{
            background-color: #fff; border-radius: variables.toRem(8);
            content: ""; position: absolute; top: 0; z-index: 1;
            width: 100%; height: 100%;
            transition: left 0.3s cubic-bezier(0.215, 0.610, 0.355, 1);
        }
        span{
            position: relative; z-index: 2;
            transition: color 0.3s cubic-bezier(0.215, 0.610, 0.355, 1);
        }
    }

    @media (min-width: variables.toEm(993, 16)) {
        &__log-in{
            padding: 0 variables.toRem(32);
        }
    }
    &__log-in::before{ left: 100%; }
    &__sign-in::before{ left: -100%; }
    &__link._hovered{
        color: #000;
        &::before{ left: 0; }
    }

    &__burger{
        display: none;
    }
    @media (max-width: variables.toEm(768, 16)) {
        &__burger{
            display: block;
            align-self: center;
            flex: 0 0 variables.toRem(38); height: variables.toRem(22);
        }
        &__burger span, &__burger::after, &__burger::before{
            background-color: #fff;
            position: absolute; left: 0; width: 100%;
            height: variables.toRem(4);
        }
        &__burger::after{ top: 0; }
        &__burger::after, &__burger::before{
            content: "";
            transition: transform 0.3s cubic-bezier(0.215, 0.610, 0.355, 1),
            top 0.3s cubic-bezier(0.215, 0.610, 0.355, 1);
        }
        &__burger span{ 
            top: calc(50% - variables.toRem(4) / 2);
            transition: transform 0.3s cubic-bezier(0.215, 0.610, 0.355, 1);
        }
        &__burger::before{ top: calc(100% - variables.toRem(4)); }

        &._active &__burger::after{ top: 50%; transform: translateY(-50%) rotate(45deg); }
        &._active &__burger::before{ top: 50%; transform: translateY(-50%) rotate(-45deg); }
        &._active &__burger span{ transform: scale(0); }
    }
    @media (max-width: variables.toEm(768, 16)) and (min-width: variables.toEm(481, 16)) {
        &__burger{
            margin-left: variables.toRem(16);
        }
    }
}
.menu{
    @media (min-width: variables.toEm(769, 16)) {
        &__list{
            display: flex; flex-wrap: wrap; align-items: center;
            gap: variables.toRem(8) variables.toRem(32);
        }
        &__list, &__punkt, &__link{
            height: 100%;
        }
        @media (max-width: variables.toEm(992, 16)) {
            &__list{
                gap: variables.toRem(4) variables.toRem(24);
            }
        }
    }
    @media (max-width: variables.toEm(480, 16)) {
        &__list{
            margin-bottom: 16px;
        }
    }

    @media (max-width: variables.toEm(768, 16)) {
        &__punkt:not(:last-child){
            margin-bottom: variables.toRem(10);
        }
    }

    &__link{
        display: flex; align-items: center; position: relative;
        &::after{
            content: ""; width: calc(100% + variables.toRem(12)); height: 100%;
            position: absolute; left: variables.toRem(-6); top: 0;
            border: variables.toRem(3) solid #fff;
            transform: scale(0);
            transition: transform 0.3s cubic-bezier(0.215, 0.610, 0.355, 1);
        }
    }
    &__link:hover::after, &__link:focus::after{
        transform: scale(1);
    }
    @media (max-width: variables.toEm(768, 16)) {
        &__link{
            justify-content: center;
            &::after{
                left: 0; top: variables.toRem(-6);
                width: 100%; height: calc(100% + variables.toRem(12));
            }
        }
    }

    @media (min-width: variables.toEm(481, 16)) {
        &__authorization{
            display: none;
        }
    }
}
.link-menu{
    &__desc{
        font-family: "Montserrat"; font-weight: 600;
        font-size: variables.toRem(14);
        line-height: variables.toEm(18, 14);
        color: #fff;

        margin-left: variables.toRem(4);
    }
    @media (max-width: variables.toEm(768, 16)) {
        &__desc{
            font-size: variables.toRem(20);
            margin-left: variables.toRem(8);
        }
    }

    &__icon-parent{
        width: variables.toRem(24);
        height: variables.toRem(24);

        display: flex;
        align-items: center;
        justify-content: center;
    }
    @media (max-width: variables.toEm(768, 16)) {
        &__icon-parent{
            width: variables.toRem(36);
            height: variables.toRem(36);
        }
    }
    &.flight &__icon{
        width: variables.toRem(22.5); height: variables.toRem(19.5);
    }
    @media (max-width: variables.toEm(768, 16)) {
        &.flight &__icon{
            width: variables.toRem(36); height: calc(variables.toRem(36) / 22.5 * 19.5);
        }
    }
    &.stays &__icon{
        width: variables.toRem(21); height: variables.toRem(16.5);
    }
    @media (max-width: variables.toEm(768, 16)) {
        &.stays &__icon{
            width: variables.toRem(36); height: calc(variables.toRem(36) / 21 * 16.5);
        }
    }
}
@media (max-width: variables.toEm(480, 16)) {
  .authorization-menu{
        &__link{
            background-color: #fff;
            display: flex; align-items: center; justify-content: center;
            min-height: variables.toRem(56); width: 100%;

            font-family: "Montserrat"; font-weight: 600;
            font-size: variables.toRem(20);
            line-height: variables.toEm(18, 14);
            color: variables.$darkGreen;

            &:not(:last-child){
                margin-bottom: variables.toRem(10);
            }
        }
    }  
}