@use "./settings/variables.scss";

.recent{
    padding-top: variables.toRem(80);
    @media (max-width: variables.toEm(992, 16)) {
        padding-top: variables.toRem(64);
    }
    @media (max-width: variables.toEm(768, 16)) {
        padding-top: variables.toRem(48);
    }
    @media (max-width: variables.toEm(480, 16)) {
        padding-top: variables.toRem(32);
    }

    &__heading{
        margin-bottom: variables.toRem(32);
    }
    @media (max-width: variables.toEm(992, 16)) {
        &__heading{
            margin-bottom: variables.toRem(24);
        }
    }
    @media (max-width: variables.toEm(768, 16)) {
        &__heading{
            margin-bottom: variables.toRem(16);
        }
    }

    @media (min-width: variables.toEm(481, 16)) {
        &__items{
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            gap: variables.toRem(24);
        }
        @media (max-width: variables.toEm(992, 16)) {
            &__items{
                grid-template-columns: repeat(3, 1fr);
            }
        }
        @media (max-width: variables.toEm(768, 16)) {
            &__items{
                grid-template-columns: repeat(2, 1fr);
                gap: variables.toRem(16);
            }
        }
    }

    &__item{
        display: flex; align-items: center;
        position: relative;
    }
    @media (max-width: variables.toEm(480, 16)) {
        &__item:not(:last-child){
            margin-bottom: variables.toRem(16);
        }
    }
    &__item > *{
        position: relative; z-index: 3;
    }
    &__item::after, &__item::before{
        content: "";
        border-radius: variables.toRem(8);
        position: absolute; left: 50%; top: 50%;
        transform: translateX(-50%) translateY(-50%);
        width: 100%; height: 100%;
    }
    &__item::after{
        background-color: variables.$gray; z-index: 2;
    }
    &__item::before{
        background-color: variables.$mint; z-index: 1;
        transition: width 0.3s cubic-bezier(0.215, 0.610, 0.355, 1),
        height 0.3s cubic-bezier(0.215, 0.610, 0.355, 1);
    }
    &__item:hover::before{
        width: calc(100% + variables.toRem(12));
        height: calc(100% + variables.toRem(12));
    }
    @media (max-width: variables.toEm(992, 16)) {
        &__item:hover::before{
            width: calc(100% + variables.toRem(8));
            height: calc(100% + variables.toRem(8));
        }
    }
}
.item-recent{
    &__image{
        flex: 0 0 variables.toRem(90);
        height: variables.toRem(90);
        margin-right: variables.toRem(16);
        img{
            border-radius: variables.toRem(8);
            width: 100%; height: 100%;
        }
    }
    @media (max-width: variables.toEm(992, 16)) {
        &__image{
            flex: 0 0 variables.toRem(80);
            height: variables.toRem(80);
        }
    }
    @media (max-width: variables.toEm(768, 16)) {
        &__image{
            flex: 0 0 variables.toRem(70);
            height: variables.toRem(70);
        }
    }

    &__city{
        color: variables.$darkGreen;
        font-family: Montserrat; font-weight: 600;
        font-size: variables.toRem(16);
        line-height: variables.toEm(20, 16);

        margin-bottom: variables.toRem(8);
    }
    @media (max-width: variables.toEm(992, 16)) {
        &__city{
            margin-bottom: variables.toRem(4);
        }
    }

    &__places{
        color: rgba($color: variables.$darkGreen, $alpha: 0.75);
        font-family: Montserrat; font-weight: 400;
        font-size: variables.toRem(12);
        line-height: variables.toEm(15, 12);
    }
}

.hotel{
    @media (min-width: variables.toEm(481, 16)) {
        display: grid;
        grid-template-columns: variables.toPercent(300, 849) 1fr;
    }

    &:not(:last-child){
        margin-bottom: variables.toRem(24);
    }

    @media (min-width: variables.toEm(481, 16)) {
        &__image-parent{
            position: relative;
        }
        &__images-count{
            border-radius: variables.toRem(8);
            backdrop-filter: blur(variables.toRem(4));
            background: rgba(255, 255, 255, 0.5);

            color: variables.$darkGreen;
            font-family: Montserrat; font-weight: 500;
            font-size: variables.toRem(12);
            line-height: variables.toEm(15, 12);

            position: absolute; z-index: 2;
            right: variables.toRem(8); top: variables.toRem(8);

            min-height: variables.toRem(32); padding: variables.toRem(8);
            max-width: calc(100% - variables.toRem(8) * 2);
        }
        &__image img{
            object-fit: cover; background-color: variables.$mint;
            border-radius: variables.toRem(12) 0 0 variables.toRem(12);

            color: #fff;
            font-family: "Montserrat", sans-serif;
            font-size: variables.toRem(16);
            font-weight: 600;

            position: absolute; z-index: 1; left: 0; top: 0; width: 100%; height: 100%;
        }
    }
    @media (max-width: variables.toEm(480, 16)) {
        &__image-parent{
            display: none;
        }
    }

    &__info{
        border-radius: 0 variables.toRem(12) variables.toRem(12) 0;
        background-color: #fff;
        padding: variables.toRem(24);
    }
    @media (max-width: variables.toEm(768, 16)) {
        &__info{
            padding: variables.toRem(16);
        }
    }

    @media (min-width: variables.toEm(481, 16)) {
        &__main{ justify-content: space-between; align-items: flex-start;  }
    }
    &__main{ display: flex; }
    @media (max-width: variables.toEm(480, 16)) {
        &__main{ flex-direction: column-reverse; }
    }

    @media (min-width: variables.toEm(481, 16)) {
        &__subprice{
            margin-right: variables.toRem(32);
        }
        @media (max-width: variables.toEm(992, 16)) {
            &__subprice{
                margin-right: variables.toRem(24);
            }
        }
        @media (max-width: variables.toEm(768, 16)) {
            &__subprice{
                margin-right: variables.toRem(16);
            }
        }
    }
    @media (max-width: variables.toEm(480, 16)) {
        &__subprice{
            margin-top: variables.toRem(10);
        }
    }

    &__heading{
        color: variables.$darkGreen;
        font-family: "TradeGothic"; font-weight: 700;
        font-size: variables.toRem(20);
        line-height: variables.toEm(24, 20);
        margin-bottom: variables.toRem(16);
    }
    @media (max-width: variables.toEm(768, 16)) {
        &__heading{
            font-size: variables.toRem(18);
        }
    }
    @media (max-width: variables.toEm(480, 16)) {
        &__heading{
            margin-bottom: variables.toRem(10);
        }
    }

    @media (min-width: variables.toEm(481, 16)) {
        &__price mark{
            display: block;
        }
        &__price > span:last-child{
            display: block;
            text-align: right;
        }
    }
    &__price{
        color: variables.$darkGreen;
        font-family: Montserrat; font-weight: 500;
        font-size: variables.toRem(12);
        line-height: variables.toEm(15, 12);
        mark{
            color: variables.$red;
            line-height: variables.toEm(24, 24);
        }
        strong{
            font-size: variables.toRem(24);
            line-height: variables.toEm(24, 24);
            font-weight: 700;
        }
    }
    @media (max-width: variables.toEm(768, 16)) {
        &__price strong{
            font-size: variables.toRem(22);
        }
    }
    @media (max-width: variables.toEm(480, 16)) {
        &__price{
            display: flex; align-items: center;
            strong{ font-size: variables.toRem(20); }
            mark{ margin: 0 variables.toRem(6); }
        }
    }
    
    &__location{
        display: flex; align-items: center;
    }

    &__row{
        display: flex; align-items: center; flex-wrap: wrap;
        column-gap: variables.toRem(32); row-gap: variables.toRem(4);
        margin: variables.toRem(12) 0;
    }
    @media (max-width: variables.toEm(992, 16)) {
        &__row{
            column-gap: variables.toRem(24);
        }
    }
    @media (max-width: variables.toEm(768, 16)) {
        &__row{
            margin: variables.toRem(8) 0;
            column-gap: variables.toRem(16);
        }
    }

    &__amenities{
        display: flex; align-items: center;
    }

    &__short-review{
        margin: variables.toRem(12) 0 variables.toRem(48.5);
    }
    
    @media (max-width: variables.toEm(768, 16)) {
        &__short-review{
            margin: variables.toRem(8) 0 variables.toRem(32.5);
        }
    }

    &__footer{
        display: flex;
        position: relative;
        &::after{
            background-color: rgba($color: variables.$darkGreen, $alpha: 0.25);
            content: "";
            position: absolute; left: 0; top: variables.toRem(-24);
            transform: translateY(50%);
            width: 100%; height: variables.toRem(0.5);
        }
    }
    @media (max-width: variables.toEm(768, 16)) {
        &__footer::after{
            top: variables.toRem(-16);
        }
    }

    &__favourites{
        flex: 0 0 variables.toRem(48);
        svg path{
            transition: stroke 0.3s cubic-bezier(0.215, 0.610, 0.355, 1);
        }
    }
    &__favourites._active:not(:disabled):hover svg path, 
    &__favourites._active:not(:disabled):focus svg path{
        stroke: #fff;
    }
    &__favourites:not(._active):not(:disabled):hover svg path, 
    &__favourites:not(._active):not(:disabled):focus svg path{
        fill: #fff;
    }


    &__link{
        font-weight: 600;
        font-size: variables.toRem(14);
        line-height: variables.toEm(18, 14);

        width: 100%;
        margin-left: variables.toRem(16);
    }
    div.hotel__link{
        opacity: 0.25;
    }
}
.location-hotel{
    &__icon-parent{
        display: flex; align-items: center; justify-content: center;
        flex: 0 0 variables.toRem(16);
        height: variables.toRem(16);

        margin-right: variables.toRem(2);
    }
    &__text{
        color: rgba($color: variables.$darkGreen, $alpha: 0.75);
        font-family: Montserrat; font-weight: 500;
        font-size: variables.toRem(12);
        line-height: variables.toEm(15, 12);
    }
}
.amenities-hotel{
    &__icon-parent{
        width: variables.toRem(16); height: variables.toRem(16);
        display: flex; align-items: center; justify-content: center;
        margin-right: variables.toRem(4);
    }

    &__subicon{
        color: variables.$darkGreen;
        font-family: Montserrat; font-weight: 500;
        font-size: variables.toRem(12);
        line-height: variables.toEm(15, 12);
    }
}

.hotel-page{
    &__section:not(:last-child){
        margin-bottom: variables.toRem(129);
        .container{
            position: relative;
            &::after{
                content: "";
                width: calc(100% - variables.toRem(variables.$containerPadding) * 2); 
                height: variables.toRem(1);
                background: rgba($color: variables.$darkGreen, $alpha: 0.25);
                position: absolute; bottom: variables.toRem(-64); left: 50%; 
                transform: translateY(50%) translateX(-50%);
            }
        }
    }
    @media (max-width: variables.toEm(992, 16)) {
        &__section:not(:last-child){
            margin-bottom: variables.toRem(97);
            .container::after{
                bottom: variables.toRem(-48);
            }
        }
    }
    @media (max-width: variables.toEm(768, 16)) {
        &__section:not(:last-child){
            margin-bottom: variables.toRem(65);
            .container::after{
                bottom: variables.toRem(-32);
            }
        }
    }
    @media (max-width: variables.toEm(480, 16)) {
        &__section:not(:last-child){
            margin-bottom: variables.toRem(49);
            .container::after{
                bottom: variables.toRem(-24);
            }
        }
    }
}
.section-hotel-page{
    &__heading{
        color: variables.$darkGreen;
        font-family: "TradeGothic"; font-weight: 700;
        font-size: variables.toRem(20);
        line-height: variables.toEm(24, 20);
    }

    @media (min-width: variables.toEm(769, 16)) {
        &__header &__heading{
            margin-right: variables.toRem(32);
        }
        @media (max-width: variables.toEm(992, 16)) {
            &__header &__heading{
                margin-right: variables.toRem(24);
            }
        }
    }
    @media (max-width: variables.toEm(768, 16)) {
        &__header &__heading{
            text-align: center;
            margin-bottom: variables.toRem(8);
        }
    }

    @media (min-width: variables.toEm(769, 16)) {
        &__header{
            display: flex;
            align-items: center;
            justify-content: space-between;
        }
    }

    &__button{
        font-weight: 600;
        font-size: variables.toRem(14);
        line-height: variables.toEm(18, 14);

        min-width: variables.toRem(150);
    }
    @media (max-width: variables.toEm(768, 16)) {
        &__button{
            width: 100%;
        }
    }
}

.introduction-hotel{
    @media (min-width: variables.toEm(993, 16)) {
        &__header{
            display: flex;
        }
        &__stars{
            margin-left: variables.toRem(16);
        }
    }
    @media (max-width: variables.toEm(992, 16)) {
        &__stars{
            margin-top: variables.toRem(8);
        }
        @media (max-width: variables.toEm(768, 16)) {
            &__stars{
                margin-top: variables.toRem(4);
            }
        }
    }

    &__images-parent{
        transition: height 0.3s cubic-bezier(0.215, 0.610, 0.355, 1);
    }
    &__images{
        display: grid; gap: variables.toRem(8);
        grid-template-columns: repeat(4, 1fr);
    }
    @media (max-width: variables.toEm(768, 16)) {
        &__images{
            box-sizing: content-box;
            grid-template-columns: repeat(2, 1fr);
            padding-bottom: variables.toRem(16);
        }
    }
    @media (max-width: variables.toEm(480, 16)) {
        &__images{
            padding-bottom: variables.toRem(10);
        }
    }

    &__image{
        position: relative;
    }
    &__image img{
        object-fit: cover;
        position: absolute; left: 0; top: 0;
        width: 100%; height: 100%;
    }
    @media (min-width: variables.toEm(769, 16)) {
        &__image.main{
            grid-column: span 2;
            img{
                background-color: variables.$darkGreen;
                border-top-left-radius: variables.toRem(8);
            }
        }
        &__image:not(.main){
            background-color: rgba($color: variables.$mint, $alpha: 0.4);
        }
        &__images:not(.three-more):not(.five-more) &__image.main:last-child{
            grid-column: span 4;
            padding-bottom: variables.toPercent(550, variables.$container);
            img{
                border-top-right-radius: variables.toRem(8);
            }
        }
        &__images:not(.three-more):not(.five-more) &__image.main{
            padding-bottom: variables.toPercent(550, 612);
        }

        &__images:not(.five-more) &__image.main img,
        &__images.five-more &__image:nth-child(4n + 2):not(:nth-last-child(n + 5)) img{
            border-bottom-left-radius: variables.toRem(8);
        }

        &__images.three-more &__image.main,
        &__images.five-more &__image.main{
            grid-row: span 2;
        }

        &__image:not(.main){
            padding-bottom: variables.toPercent(271, 302);
        }
        &__images:not(.three-more):not(.five-more) &__image:not(.main){
            padding-bottom: variables.toPercent(550, 302);
        }
        &__images:not(.three-more):not(.five-more) &__image:nth-child(2):last-child:not(.main){
            grid-column: span 2;
            padding-bottom: variables.toPercent(550, 612);
        }
        
        &__image:nth-child(3):not(.main) img,
        &__image:nth-child(2):last-child:not(.main) img{
            border-top-right-radius: variables.toRem(8);
        }
        &__image:last-child:not(.main) img{
            border-bottom-right-radius: variables.toRem(8);
        }

        &__images.five-more &__image:last-child:nth-child(4n + 2){
            grid-column: 1 / 5;
            padding-bottom: variables.toPercent(271, variables.$container);
        }
        &__images.five-more &__image:last-child:nth-child(4n + 3){
            grid-column: 2 / 5;
            padding-bottom: variables.toPercent(271, 922);
        }
        &__image:nth-child(4):last-child,
        &__images.five-more &__image:last-child:nth-child(4n + 4){
            grid-column: 3 / 5;
            padding-bottom: variables.toPercent(271, 612);
        }    
    }
    &__image img{
        color: #fff;
        font-family: "Montserrat", sans-serif;
        font-size: variables.toRem(16);
        font-weight: 600;
    }
    @media (max-width: variables.toEm(768, 16)) {
        &__image{
            padding-bottom: variables.toPercent(271, 365);
            height: 0;
            img{
                background-color: variables.$darkGreen;
            }
        }
        &__image.main img{
            border-top-left-radius: variables.toRem(8);
        }
        &__image.main:last-child img, &__image:nth-child(2) img{
            border-top-right-radius: variables.toRem(8);
        }
        &__image:last-child img{
            border-bottom-right-radius: variables.toRem(8);
        }
        &__image:nth-child(2n - 1):not(:nth-last-child(n + 3)) img{
            border-bottom-left-radius: variables.toRem(8);
        } 
        &__image:nth-child(2n - 1):last-child{
            grid-column: 1 / 3;
            padding-bottom: variables.toPercent(271, 738);
        }
    }
    
    @media (min-width: variables.toEm(769, 16)) {
        &__more{
            position: absolute;
            right: variables.toRem(16 + 16);
            bottom: variables.toRem(16);
        }
    }
    &__more{
        font-size: variables.toRem(14);
        font-weight: 600;
        line-height: variables.toEm(18, 14);
    }
    @media (max-width: variables.toEm(768, 16)) {
        &__more{
            width: 100%;
        }
    }

    @media (max-width: variables.toEm(768, 16)) {
        &__link{
            width: 100%;
        }
    }
}

.overview{
    &__info{
        color: variables.$darkGreen;
        font-family: Montserrat; font-weight: 500;
        font-size: variables.toRem(16);
        line-height: variables.toEm(20, 16);

        margin: variables.toRem(16) 0 variables.toRem(32);
    }
    @media (max-width: variables.toEm(992, 16)) {
        &__info{
            margin: variables.toRem(16) 0 variables.toRem(24);
        }
    }
    @media (max-width: variables.toEm(768, 16)) {
        &__info{
            margin: variables.toRem(16) 0;
        }
    }

    &__features{
        display: flex; flex-wrap: wrap; gap: variables.toRem(16);
    }
    &__feature{
        border-radius: variables.toRem(12);
        padding: variables.toRem(16);

        flex: 0 0 variables.toRem(160);
        min-height: variables.toRem(145);
    }
    @media (max-width: variables.toEm(992, 16)) {
        &__feature{
            padding: variables.toRem(10);
            flex: 0 0 variables.toRem(140);
            min-height: variables.toRem(125);
        }
    }
    @media (max-width: variables.toEm(768, 16)) {
        &__feature{
            flex: 0 0 variables.toRem(120);
            min-height: variables.toRem(105);
        }
    }

    &__feature:not(.overview__short-review){
        display: flex; align-items: flex-end;
        border: variables.toRem(1) solid variables.$mint;

        position: relative;
        &::after{
            content: "";
            position: absolute; left: variables.toRem(16); top: variables.toRem(16);
            width: variables.toRem(32); height: variables.toRem(32);
            background: url("../assets/stars.svg");
            background-size: contain; background-repeat: no-repeat;
        }

        span{
            color: variables.$darkGreen;
            font-family: Montserrat; font-weight: 500;
            font-size: variables.toRem(16);
            line-height: variables.toEm(20, 16);

            display: block; margin-top: variables.toRem(32 + 10);
        }
    }
    @media (max-width: variables.toEm(992, 16)) {
        &__feature:not(.overview__short-review){
            &::after{ width: variables.toRem(26); height: variables.toRem(26); }
            span{ 
                font-size: variables.toRem(14); margin-top: variables.toRem(26 + 10); 
            }
        }
    }

    &__short-review{
        background-color: variables.$mint;
        display: flex; flex-direction: column;
    }
}
.short-review-overview{
    &__rating{
        color: variables.$darkGreen;
        font-family: "TradeGothic"; font-weight: 700;
        font-size: variables.toRem(32);
        line-height: variables.toEm(38, 32);

        flex: 1 1 auto;
        margin-bottom: variables.toRem(10);
    }
    @media (max-width: variables.toEm(992, 16)) {
        &__rating{
            font-size: variables.toRem(28);
        }
    }
    @media (max-width: variables.toEm(480, 16)) {
        &__rating{
            font-size: variables.toRem(24);
        }
    }

    &__assessment{
        color: variables.$darkGreen;
        font-family: Montserrat; font-weight: 700;
        font-size: variables.toRem(16);
        line-height: variables.toEm(19, 16);
        margin-bottom: variables.toRem(4);
    }
    @media (max-width: variables.toEm(992, 16)) {
        &__assessment{
            margin-bottom: variables.toRem(2);
        }
    }
    @media (max-width: variables.toEm(480, 16)) {
        &__assessment{
            font-size: variables.toRem(14);
        }
    }

    &__count-reviews{
        color: variables.$darkGreen;
        font-family: Montserrat; font-weight: 500;
        font-size: variables.toRem(14);
        line-height: variables.toEm(18, 14);
    }
}

.rooms{
    &__heading{
        margin-bottom: variables.toRem(32);
    }
    @media (max-width: variables.toEm(992, 16)) {
        &__heading{
            margin-bottom: variables.toRem(24);
        }
    }
    @media (max-width: variables.toEm(768, 16)) {
        &__heading{
            margin-bottom: variables.toRem(16);
        }
    }

    @media (min-width: variables.toEm(769, 16)) {
        &__item{
            display: flex; align-items: center;
        }
    }

    &__item:not(:last-child){
        position: relative;
        margin-bottom: variables.toRem(32.5);
        &::after{
            content: "";
            background-color: rgba($color: variables.$darkGreen, $alpha: 0.25);
            position: absolute; left: 0; bottom: variables.toRem(-16); transform: translateY(50%);
            width: 100%; height: variables.toRem(0.5);
        }
    }
}
.item-rooms{
    @media (min-width: variables.toEm(769, 16)) {
        &__image{
            flex: 0 0 variables.toRem(48);
        }
    }
    &__image{
        height: variables.toRem(48);
        img{
            border-radius: variables.toRem(4); background-color: variables.$mint;
            color: #fff;
            font-family: "Montserrat", sans-serif;
            font-size: variables.toRem(14);
            font-weight: 400;

            display: inline-block;
            width: 100%; height: 100%;
        }
    }
    @media (max-width: variables.toEm(768, 16)) and (min-width: variables.toEm(481, 16)) {
        &__image{
            height: variables.toRem(64);
            img{ border-radius: variables.toRem(8); }
        }
    }
    @media (max-width: variables.toEm(768, 16)) {
        &__image{
            width: variables.toRem(64);
        }
    }
    @media (max-width: variables.toEm(480, 16)) {
        &__image{
            width: variables.toRem(48);
        }
    }

    @media (min-width: variables.toEm(769, 16)) {
        &__text{
            margin: 0 variables.toRem(64) 0 variables.toRem(16);
            flex: 1 1 auto;
        }
        @media (max-width: variables.toEm(992, 16)) {
            &__text{
                margin: 0 variables.toRem(32) 0 variables.toRem(16);
            }
        }
    }
    @media (min-width: variables.toEm(481, 16)) {
        &__text{
            display: flex; align-items: center; justify-content: space-between;
        }
    }
    @media (max-width: variables.toEm(768, 16)) {
        &__text{
            margin: variables.toRem(8) 0;
        }
    }
    
    @media (min-width: variables.toEm(769, 16)) {
        &__specifies{
            flex: 1 1 auto;
        }
    }
    @media (min-width: variables.toEm(481, 16)) {
        &__specifies{
            margin-right: variables.toRem(16);
        }
    }
    &__specifies{
        color: variables.$darkGreen;
        font-family: Montserrat; font-weight: 500;
        font-size: variables.toRem(16);
        line-height: variables.toEm(20, 16);
    }
    @media (max-width: variables.toEm(480, 16)) {
        &__specifies{
            margin-bottom: variables.toRem(4);
        }
    }

    &__price{
        color: variables.$darkGreen;
        font-family: Montserrat; font-weight: 600;
        font-size: variables.toRem(14);
        line-height: variables.toEm(20, 14);

        strong{
            font-size: variables.toRem(24);
            line-height: variables.toEm(24, 24);
        }
    }
    @media (max-width: variables.toEm(992, 16)) {
        &__price strong{
            font-size: variables.toRem(22);
        }
    }
    @media (max-width: variables.toEm(480, 16)) {
        &__price strong{
            font-size: variables.toRem(20);
        }
    }

    &__link{
        font-weight: 600;
        font-size: variables.toRem(14);
        line-height: variables.toEm(18, 14);
        min-width: variables.toRem(150);
    }
    @media (max-width: variables.toEm(768, 16)) and (min-width: variables.toEm(481, 16)) {
        &__link{
            justify-content: flex-start;
        }
    }
}

.location{
    &__header{
        margin-bottom: variables.toRem(32);
    }
    @media (max-width: variables.toEm(992, 16)) {
        &__header{
            margin-bottom: variables.toRem(24);
        }
    }
    @media (max-width: variables.toEm(768, 16)) {
        &__header{
            margin-bottom: variables.toRem(16);
        }
    }

    &__image{
        width: 100%; position: relative;
        padding-bottom: variables.toPercent(450, variables.$container);
        margin-bottom: variables.toRem(8);
        img{
            background-color: variables.$darkGreen;
            border-radius: variables.toRem(8); object-fit: cover;

            color: #fff;
            font-family: "Montserrat", sans-serif;
            font-size: variables.toRem(14);
            font-weight: 600;

            position: absolute; left: 0; top: 0;
            width: 100%; height: 100%;
        }
    }
    &__info{
        display: flex; align-items: center; margin-top: variables.toRem(8);
    }
}

.amenities{
    &__heading{
        margin-bottom: variables.toRem(32);
    }
    @media (max-width: variables.toEm(992, 16)) {
        &__heading{
            margin-bottom: variables.toRem(24);
        }
    }
    @media (max-width: variables.toEm(768, 16)) {
        &__heading{
            margin-bottom: variables.toRem(16);
        }
    }

    &__columns{
        transition: height 0.3s cubic-bezier(0.215, 0.610, 0.355, 1);
    }

    @media (min-width: variables.toEm(481, 16)) {
        &__columns-inner{
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(variables.toRem(217), 1fr));
            gap: variables.toRem(24);
            flex-wrap: wrap;
        }
    }
    @media (max-width: variables.toEm(768, 16)) {
        &__columns-inner{
            gap: variables.toRem(16);
        }
    }

    @media (max-width: variables.toEm(480, 16)) {
        &__column:not(:last-child){
            margin-bottom: variables.toRem(16);
        }
    }

    &__link{
        display: flex; align-items: center;
        &:not(:last-child){
            margin-bottom: variables.toRem(24);
        }
    }
    @media (max-width: variables.toEm(768, 16)) {
        &__link:not(:last-child){
            margin-bottom: variables.toRem(16);
        }
    }
    @media (max-width: variables.toEm(480, 16)) {
        &__link:not(:last-child){
            margin-bottom: variables.toRem(10);
        }
    }
}
.link-amenities{
    &__icon-parent{
        width: variables.toRem(24); height: variables.toRem(24);
        display: flex; align-items: center; justify-content: center;
    }

    &__description{
        color: variables.$darkGreen;
        font-family: Montserrat; font-weight: 500;
        font-size: variables.toRem(16);
        line-height: variables.toEm(20, 16);

        margin-left: variables.toRem(8);
    }
}
.link_opener-amenities{
    &__button{
        color: variables.$red;
        font-family: Montserrat; font-weight: 600;
        font-size: variables.toRem(16);
        line-height: variables.toEm(20, 16);
        transition: text-shadow 0.3s cubic-bezier(0.215, 0.610, 0.355, 1);
    }
    &__button:hover, &__button:focus{
        text-shadow: 0 0 7.5px variables.$red;
    }
}

.reviews-hotel{
    &__header{
        margin-bottom: variables.toRem(24);
    }
    @media (max-width: variables.toEm(768, 16)) {
        &__header{
            margin-bottom: variables.toRem(16);
        }
    }

    &__grade{
        display: flex; align-items: center;
    }

    &__items{
        box-sizing: content-box;
        position: relative;
        padding-top: variables.toRem(48.5);

        transition: height 0.3s cubic-bezier(0.215, 0.610, 0.355, 1);
        &::after, &::before{
            content: "";
            background-color: rgba($color: variables.$darkGreen, $alpha: 0.25);
            position: absolute; left: 0; 
            width: 100%; height: variables.toRem(0.5);
        }
        &::before{
            top: variables.toRem(24); transform: translateY(-50%);
        }
        &::after{
            bottom: variables.toRem(24); transform: translateY(50%);
        }
    }
    @media (max-width: variables.toEm(768, 16)) {
        &__items{
            padding-top: variables.toRem(32.5);
            &::before{ top: variables.toRem(16); }
            &::after{ bottom: variables.toRem(16); }
        }
    }
    &__items:not(:last-child){
        padding-bottom: variables.toRem(48.5);
    }
    &__items:last-child{
        padding-bottom: variables.toRem(24.5);
        &::after{
            bottom: 0; transform: translateY(0);
        }
    }
    @media (max-width: variables.toEm(768, 16)) {
        &__items:not(:last-child){
            padding-bottom: variables.toRem(32.5);
        }
        &__items:last-child{
            padding-bottom: variables.toRem(16.5);
        } 
    }

    @media (min-width: variables.toEm(769, 16)) {
        &__item{
            display: flex;
            align-items: flex-start;
        }
    }

    &__item:not(:last-child){
        position: relative;
        margin-bottom: variables.toRem(48.5);
        &::after{
            content: ""; background-color: rgba($color: variables.$darkGreen, $alpha: 0.25);
            position: absolute; left: 0; bottom: variables.toRem(-24); transform: translateY(50%);
            width: 100%; height: variables.toRem(0.5);
        }
    }
    @media (max-width: variables.toEm(768, 16)) {
        &__item:not(:last-child){
            margin-bottom: variables.toRem(32.5);
            &::after{
                bottom: variables.toRem(-16);
            }
        }
    }

    &__pagination{
        display: flex; align-items: center; justify-content: center;
    }

    &__arrow{
        box-sizing: content-box;
        border-radius: variables.toRem(4);
        width: variables.toRem(24); height: variables.toRem(24);
        display: flex; align-items: center; justify-content: center;
        padding: 0 variables.toRem(16);

        transition: background-color 0.3s cubic-bezier(0.215, 0.610, 0.355, 1);
        svg path{
            transition: stroke 0.3s cubic-bezier(0.215, 0.610, 0.355, 1);
        }
    }
    &__arrow:not(:disabled):hover, &__arrow:not(:disabled):focus{
        background-color: variables.$darkGreen;
        svg path{
            stroke: #fff;
        }
    }
    &__arrow.prev svg{ transform: rotate(90deg); }
    &__arrow.next svg{ transform: rotate(-90deg); }

    &__arrow:disabled &__arrow-icon{ opacity: 0.25; }

    &__current{
        color: variables.$darkGreen;
        font-family: Montserrat; font-weight: 400;
        font-size: variables.toRem(14);
        line-height: variables.toEm(18, 14);
        margin: 0 variables.toRem(8);
    }
}
.item-reviews-hotel{
    &__ava{
        min-width: variables.toRem(45);
        height: variables.toRem(45);
        position: relative;
        img{
            background-color: variables.$mint;
            border-radius: 50%;

            position: absolute; left: 0; top: 0;
            width: 100%; height: 100%;

            color: #fff;
            font-family: "Montserrat", sans-serif;
            font-size: variables.toRem(12);
            font-weight: 400;
        }
    }
    @media (max-width: variables.toEm(768, 16)) {
        &__ava{
            width: variables.toRem(45);
        }
    }

    @media (min-width: variables.toEm(769, 16)) {
        &__info{
            margin: 0 variables.toRem(16);
        }
    }
    @media (max-width: variables.toEm(768, 16)) {
        &__info{
            margin: variables.toRem(10) 0;
        }
    }

    &__header{
        color: variables.$darkGreen;
        font-family: Montserrat; font-weight: 400;
        font-size: variables.toRem(14);
        line-height: variables.toEm(18, 14);
        strong{
            font-weight: 600;
        }
    }

    @media (min-width: variables.toEm(481, 16)) {
        &__main{
            margin-top: variables.toRem(8);
        }
    }
    &__main{
        color: variables.$darkGreen;
        font-family: Montserrat; font-weight: 400;
        font-size: variables.toRem(14);
        line-height: variables.toEm(17.5, 14);
    }

    @media (min-width: variables.toEm(769, 16)) {
        &__flag{
            flex: 0 0 variables.toRem(20);
        }
    }
    &__flag{
        border-radius: variables.toRem(4);
        height: variables.toRem(20);
        display: flex; align-items: center; justify-content: center;

        transition: background-color 0.3s cubic-bezier(0.215, 0.610, 0.355, 1);
        svg path{
            transition: fill 0.3s cubic-bezier(0.215, 0.610, 0.355, 1);
        }
    }
    @media (max-width: variables.toEm(768, 16)) {
        &__flag{
            width: variables.toRem(20);
        }
    }

    &__flag:hover{
        background-color: variables.$darkGreen;
        svg path{
            fill: #fff;
        }
    }
}
.grade-reviews-hotel{
    &__rating{
        color: variables.$darkGreen;
        font-family: "TradeGothic"; font-weight: 700;
        font-size: variables.toRem(50); line-height: variables.toEm(63, 50);
        margin-right: variables.toRem(16);
    }
    @media (max-width: variables.toEm(992, 16)) {
        &__rating{
            font-size: variables.toRem(42);
            margin-right: variables.toRem(10);
        }
    }
    @media (max-width: variables.toEm(480, 16)) {
        &__rating{
            font-size: variables.toRem(34);
        }
    }

    &__assessment{
        color: variables.$darkGreen;
        font-family: Montserrat; font-weight: 600;
        font-size: variables.toRem(20);
        line-height: variables.toEm(24, 20);

        margin-bottom: variables.toRem(8);
    }
    @media (max-width: variables.toEm(992, 16)) {
        &__assessment{
            font-size: variables.toRem(18);
            margin-bottom: variables.toRem(4);
        }
    }
    @media (max-width: variables.toEm(480, 16)) {
        &__assessment{
            font-size: variables.toRem(16);
        }
    }

    &__count-reviews{
        color: variables.$darkGreen;
        font-family: Montserrat; font-weight: 400;
        font-size: variables.toRem(14);
        line-height: variables.toEm(18, 14);
    }
}
.modal-hotel-page{
    padding: variables.toRem(32);

    &__field{
        margin-top: variables.toRem(10);
    }

    &__textarea{
        padding-top: variables.toRem(16);
        padding-bottom: variables.toRem(16);
        height: variables.toRem(56);
    }
    @media (max-width: variables.toEm(768, 16)) {
        &__textarea{
            padding-top: variables.toRem(12);
            padding-bottom: variables.toRem(12);
            height: variables.toRem(48);
        }
    }

    &__stars{
        margin: variables.toRem(16) 0;
        display: flex; align-items: center; justify-content: space-between
    }

    &__confirm{
        font-size: variables.toRem(16);
        line-height: variables.toEm(20, 16);
        font-weight: 500;
        width: 100%;
    }
}
.stars-modal-hotel-page{
    &__title{
        color: variables.$darkGreen;
        font-family: Montserrat; font-weight: 600;
        font-size: variables.toRem(22);
        line-height: variables.toEm(20, 16);
        margin-right: variables.toRem(16);
    }
    &__list{
        display: flex;
        align-items: center;
        gap: variables.toRem(4);
    }

    &__link svg path{
        transition: fill 0.3s cubic-bezier(0.215, 0.610, 0.355, 1);
    }
}