@use "./settings/variables.scss";
@use "./settings/nullingStyles.scss";

@use "./common/header.scss";
@use "./home.scss";
@use "./common/options.scss";
@use "./common/footer.scss";

@use "./flights.scss";
@use "./hotels.scss";
@use "./common/catalog.scss";

@use "./account.scss";