*, *::after, *::before{
    box-sizing: border-box;
}
body, #root{
    min-height: 100vh;
}
#root{
    display: flex;flex-direction: column;
}
picture{
    display: block;
}
main{
    flex: 1 1 auto;
}
a:focus, input:focus, button:focus{
    outline: none;
}
body, ul, h1, h2, h3{
    margin: unset;
}
button, input{
    background: unset;
    border: unset;
}
ul, button, input{
    padding: unset;
}
ul, ol{
    list-style: none;
}
a{
    text-decoration: none;
    color: unset;
}
button:not(:disabled){
    cursor: pointer;
}
a[tabindex="-1"]{
    cursor: default;
}