body._locked{
    overflow-y: hidden;
}

.wrapper{
    @media (min-width: toEm($headerContainer + 1, 16)) {
        padding-top: toRem(30);
    }
}
.container{
    max-width: toRem($container + 15 * 2);
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
}

.header-block{
    @media (min-width: toEm(769, 16)) {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    @media (max-width: toEm(768, 16)) {
        text-align: center;
    }

    &__heading{
        color: rgb(0, 0, 0);
        font-family: Montserrat;
        font-size: 2rem;
        font-weight: 600;
        line-height: math.div(39, 32);
        &:not(:last-child){
            margin-bottom: toEm(16, 32);
        }
    }
    @media (max-width: toEm(992, 16)) {
        &__heading{
            font-size: toRem(26);
        }
    }
    @media (max-width: toEm(768, 16)) {
        &__heading:not(:last-child){
            margin-bottom: toEm(8, 32);
        }
    }
    @media (max-width: toEm(480, 16)) {
        &__heading{
            font-size: toRem(22);
        }
    }

    &__info{
        color: rgb(17, 34, 17);
        font-family: Montserrat;
        font-size: 1rem;
        font-weight: 400;
        line-height: math.div(20, 16);
    }
    @media (max-width: toEm(768, 16)) {
        &__info{
            font-size: toRem(14);
        }
    }

    &__more{
        color: rgb(17, 34, 17);
        font-family: Montserrat;
        font-size: toRem(14);
        font-weight: 500;
        line-height: math.div(17, 14);

        padding: toRem(11) 1rem;
        border: toRem(1) solid rgb(141, 211, 187);
        border-radius: toRem(4);
    }
    @media (max-width: toEm(768, 16)) {
        &__more{
            display: block;
            width: 100%;
            &:not(:first-child){
                margin-top: toEm(12, 14);
            }
        }
    }
    @media (any-hover: hover) {
        &__more{
            transition: all 0.3s cubic-bezier(0.34, 0.03, 0, 0.99);
        }
        &__more:hover{
            box-shadow: 0 0 15px rgb(141, 211, 187);
            background-color: rgb(141, 211, 187);
            color: #fff;
        }
    }
}