body._locked{
    overflow-y: hidden;
}

.wrapper, body{
    min-height: 100vh;
}
.wrapper{
    display: flex;
    flex-direction: column;
}
main{
    flex: 1 1 auto;
}

.container, .container_header, .container_intro, .container_intro-variant{
    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px;
}
.container{
    max-width: toRem($container + 30);
}
.container_header{
    max-width: toRem($headerContainer + 30);
}
.container_intro{
    max-width: toRem($introContainer + 30);
}
.container_intro-variant{
    max-width: toRem($introVariantContainer + 30);
}


.button_question{
    display: inline-flex;
    align-items: center;
    min-height: toRem(48);

    border-radius: toRem(4);
    background: rgb(141, 211, 187);
    padding: toRem(8) toRem(16);

    color: $darkGreen;
    span{
        font-family: Montserrat;
        font-size: toRem(14);
        font-weight: 500;
        line-height: math.div(18, 14);
    }
    &::before{
        min-width: toRem(16);
        height: toRem(16);

        display: flex;
        align-items: center;
        justify-content: center;
        
        margin-right: toRem(4);
        font-size: toRem(14);
    }

    position: relative;
    z-index: 1;
    &::after{
        content: "?";
        color: $white;
        font-family: Montserrat;
        font-size: 0;
        font-weight: 600;

        position: absolute;
        z-index: 1;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);

        display: flex;
        align-items: center;
        justify-content: center;

        border-radius: toRem(4);
        background-color: $darkGreen;
        width: 0;
        height: 0;
        overflow: hidden;

        transition: width 0.3s cubic-bezier(0.075, 0.82, 0.165, 1),
        height 0.3s cubic-bezier(0.075, 0.82, 0.165, 1),
        font-size 0s cubic-bezier(0.075, 0.82, 0.165, 1);
    }
}
.button_question:focus{
    outline: none;
    &::after{
        font-size: toRem(36);
        width: 100%;
        height: 100%;
        
        transition: width 0.3s cubic-bezier(0.075, 0.82, 0.165, 1),
        height 0.3s cubic-bezier(0.075, 0.82, 0.165, 1),
        font-size 0.3s cubic-bezier(0.075, 0.82, 0.165, 1) 0.1s;
    }
}
@media (any-hover: hover) {
    .button_question:hover::after{
        font-size: toRem(36);
        width: 100%;
        height: 100%;

        transition: width 0.3s cubic-bezier(0.075, 0.82, 0.165, 1),
        height 0.3s cubic-bezier(0.075, 0.82, 0.165, 1),
        font-size 0.3s cubic-bezier(0.075, 0.82, 0.165, 1) 0.1s;
    }
}

.select{
    position: relative;
    z-index: 1;

    &__list{
        text-align: center;
        overflow: hidden;

        position: absolute;
        left: 0;
        bottom: 0;
        transform: translateY(100%);

        width: 100%;

        transition: height 0.3s cubic-bezier(0.075, 0.82, 0.165, 1);
    }
    &__list-inner{
        border-radius: toRem(8);
        background-color: $mint;
        padding: toRem(5);
    }

    &::before{
        transition: transform 0.3s cubic-bezier(0.075, 0.82, 0.165, 1);
    }
    &._active::before{
        transform: rotate(180deg);
    }

    &__link-inner{
        display: inline-block;
        background-color: $mint;

        color: $white;
        font-family: Montserrat;
        font-size: toRem(16);
        font-weight: 700;
        line-height: math.div(19, 16);

        border-radius: toRem(8);
        padding: toRem(10) toRem(5);

        width: 100%;

        transition: color 0.3s cubic-bezier(0.075, 0.82, 0.165, 1),
        background-color 0.3s cubic-bezier(0.075, 0.82, 0.165, 1);
    }
    &__link-inner:focus{
        outline: none;
    }

    &__list-inner:not(._hide-active) &__link._active &__link-inner,
    &__link-inner._hovered{
        color: $mint;
        background-color: $white;
    }
}

.header-block{
    @media (min-width: toEm(769, 16)) {
        &:not(.havenot-button){
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
    }
    @media (max-width: toEm(768, 16)) {
        text-align: center;
    }

    @media (min-width: toEm(769, 16)) {
        &__info{
            max-width: toRem(768);
            margin-right: toRem(24);
        }
    }

    &__title{
        color: $black;
        font-family: Montserrat;
        font-size: toRem(32);
        font-weight: 600;
        line-height: math.div(36, 32);
        margin-bottom: toRem(16);
    }
    @media (max-width: toEm(992, 16)) {
        &__title{
            margin-bottom: toRem(10);
        }
    }
    @media (max-width: toEm(768, 16)) {
        &__title{
            font-size: toRem(26);
            margin-bottom: toRem(5);
        }
    }
    @media (max-width: toEm(480, 16)) {
        &__title{
            font-size: toRem(22);
        }
    }


    &__text{
        color: $darkGreen;
        font-family: Montserrat;
        font-size: toRem(16);
        font-weight: 400;
        line-height: math.div(19, 16);
    }
    @media (max-width: toEm(480, 16)) {
        &__text{
            font-size: toRem(14);
        }
    }

    &__button{
        display: flex;
        align-items: center;
        min-height: toRem(40);
        white-space: nowrap;

        background-color: transparent;
        border: toRem(1) solid $mint;
        border-radius: toRem(4);
        padding: toRem(8) toRem(16);

        color: $darkGreen;
        font-family: Montserrat;
        font-size: toRem(14);
        font-weight: 500;
        line-height: math.div(18, 14);

        transition: color 0.3s cubic-bezier(0.075, 0.82, 0.165, 1),
        background-color 0.3s cubic-bezier(0.075, 0.82, 0.165, 1),
        box-shadow 0.3s cubic-bezier(0.075, 0.82, 0.165, 1);
    }
    &__button:focus{
        outline: none;
        box-shadow: 0 0 15px $mint;
        background-color: $mint;
        color: $white;
    }
    @media (any-hover:hover) {
        &__button:hover{
            box-shadow: 0 0 15px $mint;
            background-color: $mint;
            color: $white;
        }
    }
    @media (max-width: toEm(768, 16)) {
        &__button{
            width: 100%;
            justify-content: center;

            margin-top: toRem(5);
        }
    }
}

.intro_variants{
    &__back{
        position: relative;
        z-index: 1;
        &::after{
            background: linear-gradient(90.00deg, rgba(0, 35, 77, 0.63) 11.458%, rgb(0, 35, 77, 0) 77.375%);
            content: "";

            position: absolute;
            z-index: 1;
            left: 0;
            top: 0;

            width: 100%;
            height: 100%;
        }
    }
    
    .container_intro-variant{
        position: relative;
        z-index: 2;

        padding-top: toRem(80 + 90);
        padding-bottom: toRem(254);
    }
    @media (max-width: toEm(992, 16)) {
        .container_intro-variant{
            padding-top: toRem(64 + 86);
            padding-bottom: toRem(200);
        }
    }
    @media (max-width: toEm(768, 16)) {
        .container_intro-variant{
            padding-top: toRem(46 + 76);
            padding-bottom: toRem(130);
        }
    }
    @media (max-width: toEm(480, 16)) {
        .container_intro-variant{
            padding-top: toRem(32 + 66);
            padding-bottom: toRem(100);
        }
    }
    @media (max-width: toEm(320, 16)) {
        .container_intro-variant{
            padding-top: toRem(32 + 60);
            padding-bottom: toRem(100);
        }
    }

    &__heading{
        color: $white;
        font-family: "TradeGothic";
        font-size: toRem(45);
        font-weight: 700;
        line-height: math.div(57, 45);
        margin-bottom: toRem(8);
    }
    @media (max-width: toEm(992, 16)) {
        &__heading{
            font-size: toRem(40);
        }
    }
    @media (max-width: toEm(768, 16)) {
        &__heading{
            font-size: toRem(36);
            line-height: math.div(40, 36);
            margin-bottom: toRem(4);
        }
    }
    @media (max-width: toEm(480, 16)) {
        &__heading{
            font-size: toRem(28);
        }
    }

    &__subheading{
        color: $white;
        font-family: Montserrat;
        font-size: toRem(20);
        font-weight: 500;
        line-height: math.div(24, 20);
    }
    @media (max-width: toEm(768, 16)) {
        &__subheading{
            font-size: toRem(18);
        }
    }
    @media (max-width: toEm(480, 16)) {
        &__subheading{
            font-size: toRem(16);
        }
    }

    &__info{
        max-width: toRem(440);
    }

    &__options{
        position: relative;
        z-index: 3;
        margin-top: toRem(-61);
    }
}

.configurate{
    background-color: $lightGray;
    padding-top: toRem(90 + 48);
    padding-bottom: toRem(116);
    @media (max-width: toEm(992, 16)) {
        padding-top: toRem(86 + 40);
        padding-bottom: toRem(80);
    }
    @media (max-width: toEm(768, 16)) {
        padding-top: toRem(76 + 32);
        padding-bottom: toRem(64);
    }
    @media (max-width: toEm(480, 16)) {
        padding-top: toRem(66 + 24);
        padding-bottom: toRem(32);
    }
    @media (max-width: toEm(320, 16)) {
        padding-top: toRem(60 + 24);
        padding-bottom: toRem(32);
    }

    &__options{
        margin-bottom: toRem(32);
    }
    @media (max-width: toEm(480, 16)) {
        &__options{
            margin-bottom: toRem(24);
        }
    }
    
    @media (min-width: toEm(993, 16)) {
        &__row{
            display: grid;
            grid-template-columns: toPercent(343, $container) 1fr;
            column-gap: toRem(40);
        }

        &__column{
            margin-right: toRem(9);
        }
    }

    &__content{
        margin-top: toRem(24);
    }
    @media (max-width: toEm(992, 16)) {
        &__content{
            margin-top: toRem(16);
        }
    }
    @media (max-width: toEm(480, 16)) {
        &__content{
            margin-top: toRem(10);
        }
    }
}
.configurate ~ .footer{
    background-color: $lightGray;
}

.content{
    @media (min-width: toEm(481, 16)) {
        &__header{
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
    }
    &__header{
        margin-bottom: toRem(24);
    }
    @media (max-width: toEm(992, 16)) {
        &__header{
            margin-bottom: toRem(16);
        }
    }
    @media (max-width: toEm(480, 16)) {
        &__header{
            margin-bottom: toRem(10);
        }
    }
    @media (max-width: toEm(480, 16)) {
        &__header{
            text-align: center;
        }
    }

    &__item{
        box-shadow: 0px 4px 16px 0px rgba(17, 34, 17, 0.05);
        border-radius: toRem(12);
        background-color: $white;
    }

    &__items{
        transition: height 0.3s cubic-bezier(0.075, 0.82, 0.165, 1);
        overflow: hidden;
    }

    &__items-hidden{
        padding-top: toRem(32);
        &._hidden{
            position: absolute;
            opacity: 0;
            pointer-events: none;
        }
    }
    @media (max-width: toEm(992, 16)) {
        &__items-hidden{
            padding-top: toRem(24);
        }
    }

    &__show-more{
        width: 100%;
        border-radius: toRem(4);
        background-color: $darkGreen;
        padding: toRem(8) toRem(16);
        min-height: toRem(48);

        color: $white;
        font-family: Montserrat;
        font-size: toRem(14);
        font-weight: 600;
        line-height: math.div(17, 14);
    
        margin-top: toRem(24);

        transition: box-shadow 0.3s cubic-bezier(0.075, 0.82, 0.165, 1),
        text-shadow 0.3s cubic-bezier(0.075, 0.82, 0.165, 1);
    }
    &__show-more:focus{
        outline: none;
        box-shadow: 0 0 10px $darkGreen, inset 0 0 5px $white;
        text-shadow: 0 0 5px $white;
    }
    @media (any-hover: hover) {
        &__show-more:hover{
            box-shadow: 0 0 10px $darkGreen, inset 0 0 5px $white;
            text-shadow: 0 0 5px $white;
        }
    }
}
.header-content{
    @media (min-width: toEm(481, 16)) {
        &__show{
            margin-right: toRem(24);
        }
        @media (max-width: toEm(768, 16)) {
            &__show{
                margin-right: toRem(16);
            }
        }
    }
    &__show{
        display: inline-block;

        color: $darkGreen;
        font-family: Montserrat;
        font-size: toRem(14);
        font-weight: 600;
        line-height: math.div(18, 14);

        mark{
            color: $lightRed;
        }
    }
    @media (max-width: toEm(480, 16)) {
        &__show{
            margin-bottom: toRem(4);
        }
    }
}
.select-header-content{
    &__opener{
        display: flex;
        align-items: center;
        flex-direction: row-reverse;

        span, &::after{
            color: $darkGreen;
            font-family: Montserrat;
            font-size: toRRem(14);
            line-height: math.div(18, 14);
        }

        span{
            font-weight: 600;
        }
        &::after{
            content: "Sort by";
            margin-right: toRem(4);
        }

        &::before{
            display: flex;
            align-items: center;
            justify-content: center;

            font-size: toRem(10);

            width: toRem(18);
            height: toRem(18);
            margin-left: toRem(4);

            transition: transform 0.3s cubic-bezier(0.075, 0.82, 0.165, 1);
        }

        transition: text-shadow 0.3s cubic-bezier(0.075, 0.82, 0.165, 1);
    }
    @media (max-width: toEm(480, 16)) {
        &__opener{
            width: 100%;
            justify-content: center;
        }
    }

    &._active &__opener::before{
        transform: rotate(180deg);
    }
    &__opener:focus{
        text-shadow: 0 0 10px $darkGreen;
        outline: none;
    }
    @media (any-hover: hover) {
        &__opener:hover{
            text-shadow: 0 0 10px $darkGreen;
        }
    }
}
.item-content{
    &__footer{
        display: flex;

        padding-top: toRem(32.5);
        position: relative;
        z-index: 1;
        &::before{
            background: rgba($color: $black, $alpha: 0.25);
            content: "";

            position: absolute;
            z-index: 1;
            left: 0;
            top: toRem(16);

            width: 100%;
            height: toRem(0.5);
        }
    }
    @media (max-width: toEm(480, 16)) {
        &__footer{
            padding-top: toRem(24.5);
            &::before{
                top: toRem(12);
            }
        }
    }

    &__favourites{
        font-size: toRem(13.86);
        color: $black;

        border-radius: toRem(4);
        border: toRem(1) solid $mint;
        min-width: toRem(48);

        margin-right: toRem(16);

        transition: background-color 0.3s cubic-bezier(0.075, 0.82, 0.165, 1),
        color 0.3s cubic-bezier(0.075, 0.82, 0.165, 1);
    }
    &__favourites:focus{
        outline: none;
        background-color: $mint;
        color: $white;
    }
    @media (any-hover: hover) {
        &__favourites:hover{
            background-color: $mint;
            color: $white;
        }
    }

    &__view-more{
        flex: 1 1 auto;

        border-radius: toRem(4);
        background-color: $mint;
        padding: toRem(8) toRem(16);
        min-height: toRem(48);

        color: $darkGreen;
        font-family: Montserrat;
        font-size: toRem(14);
        font-weight: 600;
        line-height: math.div(17, 14);

        transition: border-color 0.3s cubic-bezier(0.075, 0.82, 0.165, 1),
        background-color 0.3s cubic-bezier(0.075, 0.82, 0.165, 1),
        color 0.3s cubic-bezier(0.075, 0.82, 0.165, 1),
        text-shadow 0.3s cubic-bezier(0.075, 0.82, 0.165, 1);
    }
    @media (max-width: toEm(768, 16)) {
        &__view-more{
            min-height: toRem(40);
        }
    }
    &__view-more:focus{
        outline: none;
        border-color: $darkGreen;
        background-color: $darkGreen;
        color: $mint;
        text-shadow: 0 0 8px $mint;
    }
    @media (any-hover: hover) {
        &__view-more:hover{
            border-color: $darkGreen;
            background-color: $darkGreen;
            color: $mint;
            text-shadow: 0 0 8px $mint;
        }
    }
}

.short-review{
    display: flex;
    align-items: center;
    
    &__rating{
        display: inline-block;

        color: $darkGreen;
        font-family: Montserrat;
        font-size: toRem(12);
        font-weight: 500;
        line-height: math.div(15, 12);

        border: toRem(1) solid $mint;
        border-radius: toRem(4);
        padding: toRem(7.5) toRem(10);

        margin-right: toRem(8);
    }

    &__count-reviews{
        color: $darkGreen;
        font-family: Montserrat;
        font-size: toRem(12);
        font-weight: 500;
        line-height: math.div(15, 12);
        strong{
            font-weight: 700;
        }
    }
}