*,*::after,*::before{
    box-sizing: border-box;
}
body, ul, figure, h1, h2, h3, h4, h5, h6, input, fieldset{
    margin: 0;
}
ul, button, input, legend, fieldset{
    padding: 0;
}
ul{
    list-style: none;
}
button{
    border: inherit;
    cursor: pointer;
}
a{
    display: inline-block;
    color: inherit;
    text-decoration: none;
}
input, fieldset{
    border: 0;
}
input, mark, button{
    background-color: inherit;
}