$container: 1232;
$containerPx: $container * 1px;
$headerContainer: 1316;

$lightRedColor: #FF8682;

$mintColor: rgb(141, 211, 187);
$lightMintColor: rgb(205, 234, 225);

$yellowColor: rgb(255, 193, 7);

$grayColor: rgb(121, 116, 126);
$lightGrayColor: rgb(250, 251, 252);

$darkGreenColor: rgb(17, 34, 17);

$darkPurpleColor: rgb(28, 27, 31);

$blackColor: rgb(0, 0, 0);
$whiteColor: rgb(255, 255, 255);