@use "../settings/variables.scss";

.header{
    @media (min-width: variables.toEm(1440, 16)) {
        &.start{
            padding-top: 40px
        }
    }
    &.black-white{
        background-color: #fff;
        padding-top: 10px;
    }
    padding-bottom: 10px;
    position: fixed; z-index: 6; top: 0; left: 0; width: 100%;
    /*Плавное Изменение Верхнее Отступа с 30 до 0*/
    @media (max-width: variables.toEm(1440, 16)) and (min-width: variables.toEm(1381, 16)) {
        &.start{
            padding-top: calc(10px + 30px - (1440px - 100vw) / 2);
        }
    }
    @media (max-width: variables.toEm(1380, 16)) {
        &.start{
            padding-top: 10px;
        }
    }
    @media (max-width: variables.toEm(768, 16)) {
        &::after{
            background-color: variables.$darkGreen; content: "";
            position: absolute; right: -100%; top: 0; z-index: 7;
            width: 100%; height: 100%;
            transition: right 0.3s cubic-bezier(0.215, 0.610, 0.355, 1);
        }
    }
    transition: padding-top 0.3s cubic-bezier(0.215, 0.610, 0.355, 1),
    background-color 0.3s cubic-bezier(0.215, 0.610, 0.355, 1),
    box-shadow 0.3s cubic-bezier(0.215, 0.610, 0.355, 1);

    &._scroll{
        padding-top: 10px;
        background-color: variables.$mint;
        box-shadow: 0 0 10px variables.$darkGreen;
    }

    .container_header{
        display: flex;
        min-height: variables.toRem(calc(96 - 20));
    }
    /*Плавное Изменение Отступов с 32 до Стандартных 15*/
    @media (max-width: variables.toEm(variables.$containerHeaderPaddings, 16)) and 
    (min-width: variables.toEm(variables.$containerHeader + variables.$containerPadding * 2, 16)) {
        .container_header{
            padding-left: calc(
                variables.toPx(variables.$containerHeaderPadding) - 
                (variables.toRem(variables.$containerHeaderPaddings) - 100vw) / 2
            );
            padding-right: calc(
                variables.toPx(variables.$containerHeaderPadding) - 
                (variables.toRem(variables.$containerHeaderPaddings) - 100vw) / 2
            );
        }
    }
    /*Фиксируем Значение Отступов на Отметке в 15*/
    @media (max-width: variables.toEm(
        variables.$containerHeader + variables.$containerPadding * 2, 16
    )) {
        .container_header{
            padding-left: 15px; padding-right: 15px;
        }
    }
    @media (max-width: variables.toEm(992, 16)) {
        .container_header{
            min-height: variables.toRem(86 - 20);
        }
    }
    @media (max-width: variables.toEm(768, 16)) {
        .container_header{
            min-height: variables.toRem(76 - 20);
        }
    }
    @media (max-width: variables.toEm(480, 16)) {
        .container_header{
            justify-content: space-between;
            min-height: variables.toRem(66 - 20);
        }
    }
    
    @media (max-width: variables.toEm(768, 16)) {
        &__logo, &__authorization, &__burger, &__user{
            position: relative; z-index: 8;
        }
    }

    &__logo{
        margin: -10px variables.toRem(32);
    }
    @media (max-width: variables.toEm(992, 16)) {
        &__logo{
            margin: -10px variables.toRem(24);
        }
    }
    @media (max-width: variables.toEm(768, 16)) {
        &__logo{
            margin: -10px variables.toRem(24) -10px 0;
        }
    }
    @media (max-width: variables.toEm(480, 16)) {
        &__logo{
            margin: -10px variables.toRem(16) -10px 0;
        }
    }
    &__logo{
        display: flex; align-items: center;
    }
    &.black-white &__logo{
        position: relative;
        &::after{
            content: ""; background-color: variables.$mint;
            position: absolute; left: 50%; bottom: 0; transform: translateX(-50%);
            width: 0; height: variables.toRem(5);
            transition: width 0.3s cubic-bezier(0.215, 0.610, 0.355, 1),
            background-color 0.3s cubic-bezier(0.215, 0.610, 0.355, 1);
        }
    }
    &.black-white &__logo:hover::after, &.black-white &__logo:focus::after{ 
        width: 100%; 
    }
    &__logo svg{
        display: block;
    }
    &._scroll &__logo{
        svg{
            filter: drop-shadow(0 0 5px #fff);
        }
        &::after{
            background-color: #fff;
        }
    }

    &__menu, &__authorization, &__user{
        flex: 0 0 calc(50% - (variables.toPx(110.35) + variables.toRem(32) * 2) / 2);
    }
    @media (max-width: variables.toEm(992, 16)) {
        &__menu, &__authorization, &__user{
            flex: 0 0 calc(50% - (variables.toPx(110.35) + variables.toRem(24) * 2) / 2);
        }
    }

    @media (min-width: variables.toEm(769, 16)) {
        &__menu{
            margin: -10px 0;
        }
    }
    @media (max-width: variables.toEm(768, 16)) {
        &__menu{
            background: rgba(141, 211, 187, 0.9);
            position: fixed; right: -100%; top: 0; z-index: 5;
            width: 100%; height: 100%;
            padding: variables.toRem(76 + 24) 15px variables.toRem(32);
            transition: right 0.3s cubic-bezier(0.215, 0.610, 0.355, 1);
            overflow-y: auto;
        }
        &.black-white &__menu{
            padding: variables.toRem(76 + 24 - 8) 15px variables.toRem(32);
        }
        &._active &__menu, &._active::after{
            right: 0;
        }  
    }
    @media (max-width: variables.toEm(480, 16)) {
        &__menu{
            padding: variables.toRem(66 + 16) 15px variables.toRem(24);
        }
        &.black-white &__menu{
            padding: variables.toRem(66 + 16 - 8) 15px variables.toRem(32);
        }
    }

    @media (min-width: variables.toEm(769, 16)) {
        &__user{
            position: relative;
        }
    }
    @media (min-width: variables.toEm(481, 16)) {
        @media (any-hover: hover) {
            &__authorization{
                align-items: center;
            }
        }
        &__authorization, &__user{
            display: flex;
            justify-content: flex-end;
            margin: -10px 0;
        }
    }
    @media (max-width: variables.toEm(768, 16)) and (min-width: variables.toEm(481, 16)) {
        &__authorization, &__user{
            flex: 1 1 auto;
        }
    }
    @media (max-width: variables.toEm(480, 16)) {
        &__authorization, &__user{
            display: none;
        }
    }

    @media (any-hover: hover) {
        &__link{
            height: variables.toRem(48);
            position: relative; overflow: hidden;
            &::before{
                background-color: #fff; border-radius: variables.toRem(8);
                content: ""; position: absolute; top: 0; z-index: 1;
                width: 100%; height: 100%;
                transition: left 0.3s cubic-bezier(0.215, 0.610, 0.355, 1);
            }
        }
    }
    &__link{
        font-family: Montserrat; font-weight: 600;
        font-size: variables.toRem(14);
        line-height: variables.toEm(18, 14);
        color: #fff; 
        padding: 0 variables.toRem(24);

        display: flex; align-items: center;

        span{
            position: relative; z-index: 2;
            transition: color 0.3s cubic-bezier(0.215, 0.610, 0.355, 1);
        }
    }
    @media (any-hover: none) {
        &.black-white:not(._active) &__link{
            color: variables.$darkGreen;
        }
    }
    @media (any-hover: hover) {
        &.black-white:not(._active) &__link{
            color: variables.$darkGreen;
            &::before{
                background-color: variables.$darkGreen;
            }
        }
    }

    @media (min-width: variables.toEm(993, 16)) {
        &__log-in{
            padding: 0 variables.toRem(32);
        }
    }
    @media (any-hover: hover) {
        &__log-in::before{ left: 100%; }
        &__sign-up::before{ left: -100%; }
        &__link._hovered{
            color: variables.$darkGreen;
            &::before{ left: 0; }
        }
        &.black-white:not(._active) &__link._hovered{
            color: #fff;
        }
    }
    @media (any-hover: none) {
        &__log-in{
            transition: color 0.3s cubic-bezier(0.215, 0.610, 0.355, 1),
            text-shadow 0.3s cubic-bezier(0.215, 0.610, 0.355, 1);
        }
        &.start &__log-in:focus, &.black-white._active &__log-in:focus{
            text-shadow: 0 0 5px #fff;
            color: variables.$darkGreen;
        }
        &.black-white:not(._active) &__log-in:focus{
            text-shadow: 0 0 5px rgba($color: variables.$darkGreen, $alpha: 0.5);
            color: #fff;
        }

        &__sign-up{
            color: variables.$darkGreen;
            border-radius: variables.toRem(8); background-color: #fff;
            height: variables.toRem(48); align-self: center;

            transition: background-color 0.3s cubic-bezier(0.215, 0.610, 0.355, 1),
            color 0.3s cubic-bezier(0.215, 0.610, 0.355, 1);
        }
        &.black-white:not(._active) &__sign-up{
            transition: background-color 0.3s cubic-bezier(0.215, 0.610, 0.355, 1),
            color 0.3s cubic-bezier(0.215, 0.610, 0.355, 1),
            box-shadow 0.3s cubic-bezier(0.215, 0.610, 0.355, 1);
        }
        &.black-white:not(._active) &__sign-up,
        &.start &__sign-up:focus, &.black-white._active &__log-in:focus{
            color: #fff;
            background-color: variables.$darkGreen;
        }
        &.black-white:not(._active) &__sign-up:focus{
            color: variables.$darkGreen;
            background-color: #fff;
            box-shadow: inset 0 0 5px rgba($color: variables.$darkGreen, $alpha: 0.5);
        }
    }

    &__burger{
        display: none;
    }
    @media (max-width: variables.toEm(768, 16)) {
        &__burger{
            display: block;
            align-self: center;
            flex: 0 0 variables.toRem(38); height: variables.toRem(22);
        }
        &__burger span, &__burger::after, &__burger::before{
            background-color: #fff;
            position: absolute; left: 0; width: 100%;
            height: variables.toRem(4);
        }
        &.black-white:not(._active) &__burger span, 
        &.black-white:not(._active) &__burger::after, 
        &.black-white:not(._active) &__burger::before{
            background-color: variables.$darkGreen;
        }
        &__burger::after{ top: 0; }
        &__burger::after, &__burger::before{
            content: "";
            transition: transform 0.3s cubic-bezier(0.215, 0.610, 0.355, 1),
            top 0.3s cubic-bezier(0.215, 0.610, 0.355, 1),
            background-color 0.3s cubic-bezier(0.215, 0.610, 0.355, 1);
        }
        &__burger span{ 
            top: calc(50% - variables.toRem(4) / 2);
            transition: transform 0.3s cubic-bezier(0.215, 0.610, 0.355, 1),
            background-color 0.3s cubic-bezier(0.215, 0.610, 0.355, 1);
        }
        &__burger::before{ top: calc(100% - variables.toRem(4)); }

        &._active &__burger::after, &__burger:hover::after, &__burger:focus::after{ 
            top: 50%; transform: translateY(-50%) rotate(45deg); 
        }
        &._active &__burger::before, &__burger:hover::before, &__burger:focus::before{ 
            top: 50%; transform: translateY(-50%) rotate(-45deg); 
        }
        &._active &__burger span, &__burger:hover span, &__burger:focus span{ 
            transform: scale(0); 
        }
    }
    @media (max-width: variables.toEm(768, 16)) and (min-width: variables.toEm(481, 16)) {
        &__burger{
            margin-left: variables.toRem(16);
        }
    }
}
.user-header{
    &__favourites{
        display: flex; align-items: center; column-gap: variables.toRem(4);
        position: relative;
        &::after{
            content: ""; background-color: variables.$mint;
            position: absolute; z-index: 10; left: 50%; bottom: 0; transform: translateX(-50%);
            width: 0; height: variables.toRem(5); 
            transition: width 0.3s cubic-bezier(0.215, 0.610, 0.355, 1);
        }
    }

    &__line{
        color: variables.$darkGreen;
        font-family: Montserrat; font-weight: 600;
        font-size: variables.toRem(14); line-height: variables.toEm(18, 14);
        align-self: center;
        margin: 0 variables.toRem(32) 0 variables.toRem(16);
        transition: color 0.3s cubic-bezier(0.215, 0.610, 0.355, 1);
    }
    .header._active &__line{
        color: #fff;
    }
    @media (max-width: variables.toEm(992, 16)) {
        &__line{
            margin: 0 variables.toRem(16);
        }
    }
    @media (max-width: variables.toEm(768, 16)) {
        &__line{
            margin: 0 variables.toRem(8);
        }
    }

    &__info{
        display: flex; align-items: center;
        position: relative;
    }
    &__ava{
        display: block;
        max-width: variables.toRem(45);
        min-height: variables.toRem(45);

        color: #fff;
        font-family: "Montserrat", sans-serif;
        font-size: variables.toRem(12);
        font-weight: 400;

        background-color: variables.$darkGreen; border-radius: 50%;
    }
    @media (max-width: variables.toEm(768, 16)) {
        &__ava{
            max-width: variables.toRem(38);
            min-height: variables.toRem(38);
        }
    }

    &__spoiler-opener{
        position: absolute; left: variables.toRem(31); bottom: calc((100% - variables.toRem(45)) / 2);
        svg{
            transition: transform 0.3s cubic-bezier(0.215, 0.610, 0.355, 1);
            width: variables.toRem(11.38); height: variables.toRem(11.38);
        }
    }
    @media (max-width: variables.toEm(768, 16)) {
        &__spoiler-opener{
            left: variables.toRem(26); bottom: calc((100% - variables.toRem(38)) / 2);
        }
    }
    &._active &__spoiler-opener svg,
    &__spoiler-opener:hover svg,
    &__spoiler-opener:focus svg{
        transform: rotate(180deg);
    }

    &__name{
        margin-left: variables.toRem(4);
        color: variables.$darkGreen;
        font-family: Montserrat; font-weight: 600;
        font-size: variables.toRem(14); line-height: variables.toEm(18, 14);
        transition: color 0.3s cubic-bezier(0.215, 0.610, 0.355, 1);
    }
    .header._active &__name{
        color: #fff;
    }
}
.header.black-white{
    a.user-header__favourites:hover::after, &__favourites:focus::after,
    &:not(._hide-active) div.user-header__favourites:not(._no-favourites)::after{
        width: 100%;
    }
    &._scroll .user-header__favourites::after{
        background-color: #fff;
    }
}
.header.start{
    .favourites-user-header__icon path{
        fill: variables.$darkGreen;
        transition: fill 0.3s cubic-bezier(0.215, 0.610, 0.355, 1);
    }
    .favourites-user-header__description{
        transition: color 0.3s cubic-bezier(0.215, 0.610, 0.355, 1);
    }
}
.header.start{
    a.favourites-user-header:hover .favourites-user-header__icon path, 
    .favourites-user-header:focus .favourites-user-header__icon path{ 
        fill: #fff;
    }
    a.favourites-user-header:hover .favourites-user-header__description, 
    .favourites-user-header:focus .favourites-user-header__description{
        color: #fff; 
    }
}
.header._active{
    .favourites-user-header__icon path{
        fill: #fff;
    }
    .favourites-user-header__description{
        color: #fff;
    }
}
.favourites-user-header{
    &__icon-parent{
        flex: 0 0 variables.toRem(24); height: variables.toRem(24);
        display: flex; align-items: center; justify-content: center;
        path{
            fill: variables.$darkGreen
        }
    }
    &__icon{
        width: variables.toRem(19.5); height: variables.toRem(18);
    }

    &__description{
        color: variables.$darkGreen;
        transition: color 0.3s cubic-bezier(0.215, 0.610, 0.355, 1);
        font-family: Montserrat; font-weight: 600;
        font-size: variables.toRem(14); line-height: variables.toEm(18, 14);
    }
}
.spoiler-user-header{
    &__container{
        position: absolute; right: variables.toRem(13); bottom: variables.toRem(11);
        transform: translateY(100%); width: variables.toRem(329);
        height: 0; overflow: hidden; transition: height 0.3s cubic-bezier(0.215, 0.610, 0.355, 1);
    }
    @media (max-width: variables.toEm(992, 16)) {
        &__container{
            right: 0; bottom: variables.toRem(8); width: variables.toRem(290);
        }
    }
    @media (max-width: variables.toEm(768, 16)) {
        &__container{
            bottom: variables.toRem(4); width: variables.toRem(250);
        }
    }

    &__list{
        border-radius: variables.toRem(12);
        background-color: #fff; padding: variables.toRem(32);
    }
    @media (max-width: variables.toEm(992, 16)) {
        &__list{
            padding: variables.toRem(24);
        }
    }
    @media (max-width: variables.toEm(768, 16)) {
        &__list{
            padding: variables.toRem(16);
        }
    }

    &__info{
        display: flex; align-items: center; column-gap: variables.toRem(16);
        margin-bottom: variables.toRem(24);
    }
    @media (max-width: variables.toEm(992, 16)) {
        &__info{
            column-gap: variables.toRem(8);
            margin-bottom: variables.toRem(16);
        }
    }

    &__ava{
        display: block;
        max-width: variables.toRem(64);
        min-height: variables.toRem(64);

        color: #fff;
        font-family: "Montserrat", sans-serif;
        font-size: variables.toRem(14);
        font-weight: 600;

        background-color: variables.$darkGreen; border-radius: 50%;
    }
    @media (max-width: variables.toEm(992, 16)) {
        &__ava{
            max-width: variables.toRem(56);
            min-height: variables.toRem(56);
        }
    }
    @media (max-width: variables.toEm(768, 16)) {
        &__ava{
            max-width: variables.toRem(48);
            min-height: variables.toRem(48);
        }
    }

    @media (min-width: variables.toEm(993, 16)) {
        &__name{
            margin-bottom: variables.toRem(4);
        }
    }
    &__name{
        color: variables.$darkGreen;
        font-family: Montserrat; font-weight: 600;
        font-size: variables.toRem(16); line-height: variables.toEm(19, 16);
        display: block;
    }
    &__status{
        color: variables.$darkGreen;
        font-family: Montserrat; font-weight: 400;
        font-size: variables.toRem(14); line-height: variables.toEm(18, 14);
    }

    &__links{
        padding-top: variables.toRem(24.5);
        position: relative;
        &::after{
            content: ""; background-color: rgba($color: variables.$darkGreen, $alpha: 0.25);
            position: absolute; left: 0; top: 0;
            width: 100%; height: variables.toRem(0.5);
        }
    }
    @media (max-width: variables.toEm(992, 16)) {
        &__links{
            padding-top: variables.toRem(16.5);
        }
    }
    @media (max-width: variables.toEm(768, 16)) {
        &__links{
            padding-top: variables.toRem(12.5);
        }
    }

    &__links:not(:last-child){
        padding-bottom: variables.toRem(24);
    }
    @media (max-width: variables.toEm(992, 16)) {
        &__links:not(:last-child){
            padding-bottom: variables.toRem(16);
        }
    }
    @media (max-width: variables.toEm(768, 16)) {
        &__links:not(:last-child){
            padding-bottom: variables.toRem(12);
        }
    }

    &__link:not(:last-child){
        margin-bottom: variables.toRem(16);
    }
    @media (max-width: variables.toEm(992, 16)) {
        &__link:not(:last-child){
            margin-bottom: variables.toRem(8);
        }
    }
}
.opener-spoiler-user-header{
    &__icon-parent{
        display: flex; align-items: center; justify-content: center;
        width: variables.toRem(14); height: variables.toRem(14);
    }
}
.link-spoiler-user-header{
    &__inner{
        display: flex; align-items: center; width: 100%;
    }

    &__icon-parent{
        display: flex; align-items: center; justify-content: center;
        transition: filter 0.3s cubic-bezier(0.215, 0.610, 0.355, 1);
    }
    &__icon-parent.content{
        flex: 0 0 variables.toRem(18); height: variables.toRem(18);
        path{ fill: variables.$darkGreen; }
    }
    &__inner:hover &__icon-parent, &__inner:focus &__icon-parent{
        filter: drop-shadow(0 0 3px rgba(variables.$darkGreen, 0.5));
    }
    &__icon-parent.arrow{
        flex: 0 0 variables.toRem(16); height: variables.toRem(16);
        path{ stroke: variables.$darkGreen; }
    }
    &__icon-parent.arrow &__icon{
        transform: rotate(270deg);
    }

    &__description{
        text-align: left;
        color: variables.$darkGreen;
        font-family: Montserrat; font-weight: 500;
        font-size: variables.toRem(14); line-height: variables.toEm(18, 14);
        flex: 1 1 auto; margin: 0 variables.toRem(8);
        transition: text-shadow 0.3s cubic-bezier(0.215, 0.610, 0.355, 1);
    }
    &__inner:hover &__description, &__inner:focus &__description{
        text-shadow: 0 0 3px rgba(variables.$darkGreen, 0.5);
    }
    @media (max-width: variables.toEm(768, 16)) {
        &__description{
            margin: 0 variables.toRem(4);
        }
    }
}

.user-menu{
    margin-top: variables.toRem(8);
    position: relative;

    &__favourites{
        display: flex; align-items: center; justify-content: center;
        position: relative; padding: variables.toRem(8);
        &::after{
            content: ""; 
            background-color: variables.$darkGreen; border-radius: variables.toRem(8);
            position: absolute; z-index: 1; left: 50%; top: 0; width: 0; height: 100%;
            transform: translateX(-50%);
            transition: width 0.3s cubic-bezier(0.215, 0.610, 0.355, 1);
        }
    }
    &__favourites > *{
        position: relative; z-index: 2;
    }
    &__line{ display: none; }

    &__info{
        background-color: #fff; border-radius: variables.toRem(16);
        padding: variables.toRem(8);
        display: flex; align-items: center; position: relative;
        transition: border-radius 0.3s cubic-bezier(0.215, 0.610, 0.355, 1) 0.3s;
    }
    &__info._spoiler-opened{
        border-radius: variables.toRem(16) variables.toRem(16) 0 0;
        transition: border-radius 0s cubic-bezier(0.215, 0.610, 0.355, 1);
    }

    &__ava-block, &__name{
        flex: 0 0 50%;
    }

    &__ava-block{
        display: flex; justify-content: flex-end;
    }

    &__ava{
        display: block;
        width: variables.toRem(64); min-height: variables.toRem(64);

        color: #fff;
        font-family: "Montserrat", sans-serif;
        font-size: variables.toRem(16);
        font-weight: 600;

        background-color: variables.$darkGreen; border-radius: 50%;
    }

    &__spoiler-opener{
        position: absolute; left: 50%; bottom: variables.toRem(8); transform: translateX(-100%);
        svg{
            transition: transform 0.3s cubic-bezier(0.215, 0.610, 0.355, 1);
            display: block; width: variables.toRem(24); height: variables.toRem(24);
        }
    }
    &._active &__spoiler-opener svg,
    &__spoiler-opener:hover svg,
    &__spoiler-opener:focus svg{
        transform: rotate(180deg);
    }


    &__name{
        padding-left: variables.toRem(8);
        color: variables.$darkGreen;
        font-family: Montserrat; font-weight: 600;
        font-size: variables.toRem(18); line-height: variables.toEm(18, 14);
    }

    &__favourites{
        margin-bottom: variables.toRem(16);
    }
}
.header.black-white{
    a.user-menu__favourites:hover::after, &__favourites:focus::after,
    &:not(._hide-active) div.user-menu__favourites::after{
        width: 100%;
    }
}
.header.start{
    .favourites-user-menu__icon path{
        transition: fill 0.3s cubic-bezier(0.215, 0.610, 0.355, 1);
    }
    .favourites-user-menu__description{
        transition: color 0.3s cubic-bezier(0.215, 0.610, 0.355, 1);
    }
}
.header.start._active{
    a.favourites-user-menu:hover .favourites-user-menu__icon path, 
    .favourites-user-menu:focus .favourites-user-menu__icon path{ 
        fill: variables.$darkGreen;
    }
    a.favourites-user-menu:hover .favourites-user-menu__description, 
    .favourites-user-menu:focus .favourites-user-menu__description{
        color: variables.$darkGreen; 
    }
}
.favourites-user-menu{
    &__icon-parent{
        display: flex; align-items: center; justify-content: center;
        width: variables.toRem(36); height: variables.toRem(36);
    }

    &__icon{
        width: variables.toRem(36); height: variables.toRem(33.23);
        path{ fill: #fff; }
    }

    &__description{
        font-family: "Montserrat"; font-weight: 600;
        font-size: variables.toRem(20);
        line-height: variables.toEm(18, 14);
        color: #fff; margin-left: variables.toRem(8);
    }
}
.spoiler-user-menu{
    &__container{
        overflow: hidden; transition: height 0.3s cubic-bezier(0.215, 0.610, 0.355, 1);
    }
    &__list{
        padding: variables.toRem(16);
        background-color: variables.$darkGreen; border-radius: 0 0 variables.toRem(16) variables.toRem(16);
    }

    &__info{
        display: flex; align-items: center; margin-bottom: variables.toRem(16);
    }
    &__ava{
        width: variables.toRem(56); height: variables.toRem(56);
        border-radius: 50%; background-color: #fff;
        margin-right: variables.toRem(8);
    }
    &__name{
        font-family: "Montserrat"; font-weight: 600;
        font-size: variables.toRem(16);
        line-height: variables.toEm(18, 14);
        color: #fff;
    }
    &__status{
        font-family: "Montserrat"; font-weight: 600;
        font-size: variables.toRem(14);
        line-height: variables.toEm(18, 14);
        color: rgba($color: #fff, $alpha: 0.75);
    }

    &__links:not(:last-child), &__link:not(:last-child){
        margin-bottom: variables.toRem(8);
    }
}
.link-spoiler-user-menu{
    &__inner{
        display: flex; align-items: center; width: 100%;
    }

    &__icon-parent{
        display: flex; align-items: center; justify-content: center;
        transition: filter 0.3s cubic-bezier(0.215, 0.610, 0.355, 1);
    }
    &__icon-parent.content{
        flex: 0 0 variables.toRem(28); height: variables.toRem(28);
        svg{ transform: scale(1.55); }
        path{ fill: #fff; }
    }
    &__inner:hover &__icon-parent, &__inner:focus &__icon-parent{
        filter: drop-shadow(0 0 3px #fff);
    }
    &__icon-parent.arrow{
        flex: 0 0 variables.toRem(22); height: variables.toRem(22);
        path{ stroke: #fff; }
    }
    &__icon-parent.arrow &__icon{
        transform: rotate(270deg);
    }

    &__description{
        text-align: left; color: #fff;
        font-family: Montserrat; font-weight: 500;
        font-size: variables.toRem(16); line-height: variables.toEm(18, 14);
        flex: 1 1 auto; margin: 0 variables.toRem(16);
        transition: text-shadow 0.3s cubic-bezier(0.215, 0.610, 0.355, 1);
    }
    &__inner:hover &__description, &__inner:focus &__description{
        text-shadow: 0 0 3px rgba(#fff, 0.5);
    }
}

.menu{
    @media (min-width: variables.toEm(769, 16)) {
        &__list{
            display: flex; flex-wrap: wrap; align-items: center;
            gap: variables.toRem(8) variables.toRem(32);
        }
        &__list, &__punkt, &__link{
            height: 100%;
        }
        @media (max-width: variables.toEm(992, 16)) {
            &__list{
                gap: variables.toRem(4) variables.toRem(24);
            }
        }
    }

    @media (max-width: variables.toEm(768, 16)) {
        .header:not(.black-white) &__punkt:not(:last-child){
            margin-bottom: variables.toRem(16);
        }
    }

    .header.start &__link::before{
        content: ""; width: calc(100% + variables.toRem(12)); height: 100%;
        position: absolute; left: variables.toRem(-6); top: 0;
        border: variables.toRem(3) solid #fff;
        transform: scale(0);
        transition: transform 0.3s cubic-bezier(0.215, 0.610, 0.355, 1);
    }
    .header.black-white &__link::before{
        background-color: variables.$mint;
        content: ""; width: 0; height: variables.toRem(5);
        position: absolute; left: 50%; bottom: 0; transform: translateX(-50%);
        transition: width 0.3s cubic-bezier(0.215, 0.610, 0.355, 1),
        background-color 0.3s cubic-bezier(0.215, 0.610, 0.355, 1);
    }
    @media (min-width: variables.toEm(769, 16)) {
        header.black-white._scroll &__link::before{
            background-color: #fff;
        }
    }
    @media (max-width: variables.toEm(768, 16)) {
        .header.black-white &__link::before{
            height: 100%; z-index: 1;
            background-color: variables.$darkGreen;
            border-radius: variables.toRem(8);
        }
        .header.black-white &__link{
            padding: variables.toRem(8) 0;
        }

        .header.start &__link::before{
            left: 0; top: variables.toRem(-6);
            width: 100%; height: calc(100% + variables.toRem(12));
        }

        &__link{
            justify-content: center;
        }
    }
    .header.black-white:not(._hide-active) &__punkt > div::before,
    .header.black-white &__punkt > a:hover::before,
    .header.black-white &__punkt > a:focus::before{
        width: 100%;
    }
    &__link{
        display: flex; align-items: center; position: relative;
    }
    .header.start &__link:hover::before, .header.start &__link:focus::before{
        transform: scale(1);
    }

    @media (min-width: variables.toEm(481, 16)) {
        &__authorization, &__user{
            display: none;
        }
    }
}
.link-menu{
    &__desc{
        font-family: "Montserrat"; font-weight: 600;
        font-size: variables.toRem(14);
        line-height: variables.toEm(18, 14);
        color: #fff;

        margin-left: variables.toRem(4);
    }
    @media (min-width: variables.toEm(769, 16)) {
        .header.black-white &__desc{
            color: variables.$darkGreen;
        }
    }
    @media (max-width: variables.toEm(768, 16)) {
        &__desc{
            font-size: variables.toRem(20);
            margin-left: variables.toRem(8);
        }
        .header.black-white &__desc{
            position: relative; z-index: 2;
        }
    }

    &__icon-parent{
        width: variables.toRem(24);
        height: variables.toRem(24);

        display: flex;
        align-items: center;
        justify-content: center;
    }
    @media (max-width: variables.toEm(768, 16)) {
        &__icon-parent{
            width: variables.toRem(36);
            height: variables.toRem(36);
        }
        .header.black-white &__icon-parent{
            position: relative; z-index: 2;
        }
    }
    &.flight &__icon{
        width: variables.toRem(22.5); height: variables.toRem(19.5);
    }
    @media (max-width: variables.toEm(768, 16)) {
        &.flight &__icon{
            width: variables.toRem(36); height: calc(variables.toRem(36) / 22.5 * 19.5);
        }
    }
    &.stays &__icon{
        width: variables.toRem(21); height: variables.toRem(16.5);
    }
    @media (max-width: variables.toEm(768, 16)) {
        &.stays &__icon{
            width: variables.toRem(36); height: calc(variables.toRem(36) / 21 * 16.5);
        }
    }
    @media (min-width: variables.toEm(769, 16)) {
        .header.black-white &__icon path{
            fill: variables.$darkGreen;
        }
    }
}
.authorization-menu{
    margin-top: variables.toRem(16);
    &__link{
        background-color: #fff;
        display: flex; align-items: center; justify-content: center;
        min-height: variables.toRem(56); width: 100%;

        font-family: "Montserrat"; font-weight: 600;
        font-size: variables.toRem(20);
        line-height: variables.toEm(18, 14);
        color: variables.$darkGreen;

        &:not(:last-child){
            margin-bottom: variables.toRem(10);
        }
    }
}  